﻿@using WebApplication1.Areas.Identity.Data

@model IEnumerable<User>
@{
    ViewData["Title"] = "Adicionar Utilizadores";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
</head>

<style>

    body {
        background-color: #e2e8f0;
       
    }

    .container {
        max-width: 80%; 
    }

    td {
        text-align: center;
    }

    tr {
        text-align: center;
    }

    th {
        text-align: center;
    }

    .border {
        border: 1px solid;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #426CB4;
        border-color: #0d6efd;
    }

    .page-item.disabled .page-link {
        color: #426CB4;
        pointer-events: none;
        background-color: #fff;
        border-color: #dee2e6;
    }

    .hovertext {
        position: relative;
    }

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 300px;
        background-color: #cfcfcf;
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 110%;
    }

    .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
    }

</style>

<body>
    @if (TempData["ErroAdicionado"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel adicionar membro
        </div>
    }
    @if (TempData["SuccessoAdicionado"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Membro adicionado com sucesso
        </div>
    }
        @if (TempData["EventoCheio"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Evento já se encontra cheio!
        </div>
    }
    <br>
    <span class="hovertext" data-hover="Aqui pode adicionar os utilizadores que pretende ao evento, basta pesquisar pelo seu nome e clicar em 'Adicionar'.">
        <img src="~/imagens/help-web-button.png" width="35" />
    </span>
    <div class="text-center">
        <h1 class="display-4">Adicionar Utilizadores</h1>
    </div>
    <hr style="height:2px;">
    <table id="example" class="table table-striped border" style="background-color:white; border: 1px solid black; border-radius:8px; padding:10px; width:100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>
                        <form method="post">
                            <input name="eventId" hidden value="@ViewData["Evento"]" />
                            <input name="userId" hidden value="@user.Id" />
                            <button type="submit" class="btn btn-primary" asp-controller="Evento" asp-action="AddUsers">Adicionar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row" style="margin-bottom:10.79rem"></div>
</body>

@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json"
            }
        } );
    } );
</script>
}

</html>
