﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@model IEnumerable<Comentario>
@inject UserManager<User> UserManager
@inject WebApplication1Context _context;
@{
    ViewData["Title"] = "Comentarios";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        color: white;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f5f5f5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #084d6e;
        }

    .rounded-circle {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .hovertext {
        position: relative;
    }

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 315px;
        background-color: #cfcfcf;
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 110%;
    }

    .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
    }
</style>
<body>
    <div class="container">
        <div class="main-body">         
            <span class="hovertext" data-hover="Nesta página pode fazer vários comentários sobre o evento que está a participar ou participou. Para isso basta escrever o que deseja, e clicar em 'Comentar'. Serão mostrados também outros comentários, feitos por outros utilizadores.">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Comentários</h1>
            </div>
             <hr style="height:2px;">
            <br>
            <div class="row gutters-sm" style="padding-bottom:75px;">
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body" style="overflow: auto; height: 638px;">
@*                            <div class="d-flex flex-row-reverse">
                                <a class="btn btn-info botao right" style="color:white;" href='javascript:history.go(-1)'>Voltar</a>
                            </div>*@
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                @foreach (var comment in @Model)
                                {
                                    <div class="col-md-4 mb-3;">
                                        <div class="card" style="background-color:white; border-radius: 8px; height:125px; overflow: auto; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); border: 2px solid #084d6e">
                                            <div class="card-body cartao" style="border-radius: 20px">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <img src="/uploads/@UserManager.FindByIdAsync(comment.UserId).Result.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="50">
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <div class="row mt-3">
                                                            <div class="col-md-5">
                                                                <h6 class="mb-0">@UserManager.FindByIdAsync(comment.UserId).Result.Name</h6>
                                                            </div>
                                                        </div>
                                                        <div style="padding:5px"></div>
                                                        <div class="col-sm text-secondary">
                                                            @comment.Comment
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (comment.UserId.Equals(UserManager.GetUserAsync(User).Result.Id))
                                                {
                                                    <form id="apagarComentario" method="Post">
                                                        <input name="comentarioId" hidden value="@comment.Id" />
                                                        <input name="curUserId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                        <input name="eventoId" hidden value="@ViewData["eventoId"]" />
                                                        <button class="btn btn-danger right" asp-action="ApagarComentario" asp-controller="Evento" type="submit" style="color:white; position:relative; top:-5px">Apagar</button>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <form id="Comment" method="post">
                                <input name="eventoId" hidden value="@ViewData["eventoId"]" />
                                <input name="curUserId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                <div class="d-flex flex-column align-items-center text-center">
                                    <textarea name="commentText" class="form-control" style="height:200px; resize: none;" id="comentario"></textarea>
                                </div>
                                 <span class="error"><p id="comentario_error" style="color:red"></p></span>
                                <br>
                                <Button class="btn btn-info botao right" type="Submit" asp-action="ComentarEvento" asp-controller="Evento" style="color:white;">Comentar</Button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {

<script>

    document.getElementById("Comment").onsubmit = function () {
        var x = document.forms["Comment"]["comentario"].value;

        var submit = true;

        if (x == null || x == "") {
            comentario_error = "* É preciso escrever algum comentário *";
            document.getElementById("comentario_error").innerHTML = comentario_error;
           
            submit = false;
        }

        return submit;
    }

    function removeWarning() {
        document.getElementById(this.id + "_error").innerHTML = "";
    }

    document.getElementById("comentario").onkeyup = removeWarning;



</script>
}



</html>