﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventoModel
@inject UserManager<User> UserManager
@inject WebApplication1Context _context;


@{
    ViewData["Title"] = "DetalhesHistorico";
    ViewData["curUser"] = UserManager.GetUserIdAsync(UserManager.GetUserAsync(User).Result).Result;
    var UserEvento = _context.UserEventos.ToList();
    var flag = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<style>
    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #d8e8f0;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .cartao {
        margin-left: -215px;
    }

    .outrocartao {
        margin-right: -225px
    }

    .seguidores {
        background-color: #d8e8f0;
        color: black;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .cortexto {
        color: #615f5f;
    }

    .tamanho {
        font-size: 10px;
    }
</style>
<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-8 ">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/uploads/@Model.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png'" width="295" height="225" style="border-radius:12px">
                                </div>
                                <div class="col-sm-5">
                                    <h2 style="color:#124E82">
                                        @Model.Name
                                    </h2>
                                    <div class="text-secondary cortexto">
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2 style="color:#124E82">@Model.Date</h2>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                </div>
                            </div>
                            <br>
                            @*<div class="row mt-3">
                                <div class="col-md-2">
                                <h6 class="mb-0">Criador: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                @ViewData["user"]
                                </div>
                                </div>*@
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <h6 class="mb-0">Localização: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.Location
                                </div>
                                <div class="col-md-3">
                                    <h6 class="mb-0">Limite de Pessoas:</h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.UserLimit
                                </div>
                            </div>
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <h6 class="mb-0">País: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.Country
                                </div>
                                <div class="col-md-3">
                                    <h6 class="mb-0">Evento Privado:</h6>
                                </div>

                                @if (@Model.IsPrivate)
                                {
                                    <div class="col-sm text-secondary">
                                        Sim
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm text-secondary">
                                        Não
                                    </div>
                                }
                            </div>
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <h6 class="mb-0">Modalidade: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.Sport
                                </div>


                                <div class="col-md-3">
                                    <h6 class="mb-0">Evento Recorrente:</h6>
                                </div>
                                @if (@Model.IsRecurring)
                                {
                                    <div class="col-sm text-secondary">
                                        Sim
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm text-secondary">
                                        Não
                                    </div>
                                }
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    @{
                                        @if (@Model.IsPrivate == false)
                                        {
                                            @foreach (var usereventos in UserEvento)
                                            {

                                                @if (@Model.Id == usereventos.EventoId)
                                                {
                                                    @if (@Model.Id == usereventos.EventoId && usereventos.UserId.Equals(ViewData["curUser"]))
                                                    {
                                                        flag = true;
                                                    }


                                                }

                                            }
                                            @if (flag)
                                            {
                                                <form method="post" asp-action="SairEvento">
                                                    <input name="userId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <button type="submit" class="btn btn-warning botao right">Sair Evento</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" asp-action="EntrarEvento">
                                                    <input name="userId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <button type="submit" class="btn btn-info botao right">Juntar Evento</button>
                                                </form>
                                            }
                                        }
                                        else
                                        {
                                            <br>
                                            <br>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 outrocartao">
                    <div class="card" style="overflow: auto; height: 650px;">
                        <div class="card-body">
                            <h6 class="mb-0">Participantes</h6>
                            <br>
                            <ul class="list-group list-group-flush">
                                @foreach (var userEventos in Model.UserEventos)
                                {
                                    if (@userEventos.IsHost)
                                    {
                                        <li class="list-group-item d-flex align-items-center flex-wrap seguidores">
                                            <h6 class="mb-0"><img src="/uploads/@userEventos.User.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="45"></h6>
                                            <span class="text-secondary">&nbsp; <b>Host - @userEventos.User.Name</b> &nbsp;@*<a id="delete" asp-page="" class="btn btn-danger right tamanho">Remover</a></span>*@
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item d-flex align-items-center flex-wrap seguidores">
                                            <h6 class="mb-0"><img src="/uploads/@userEventos.User.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="45"></h6>
                                            <span class="text-secondary">&nbsp; @userEventos.User.Name &nbsp;@*<a asp-area="Identity" asp-page="/Account/Profile">Ver Perfil</a></span>*@
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
