﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventoModel
@inject UserManager<User> UserManager
@inject WebApplication1Context _context;
@{
    ViewData["Title"] = "Detalhes";
    ViewData["curUser"] = UserManager.GetUserIdAsync(UserManager.GetUserAsync(User).Result).Result;
    var UserEvento = _context.UserEventos.ToList();
    Classificacao classification = null;
    var classificacaoMedia = 0;
    try
    {
        classification = _context.Classificacoes.First(c => c.UserId.Equals(ViewData["CurUser"]) && c.EventoId == @Model.Id);
        var sum = 0;
        foreach (var clasf in _context.Classificacoes.Where(c => c.EventoId == @Model.Id).ToList())
        {
            sum += clasf.Rate;
        }
        classificacaoMedia = (sum / _context.Classificacoes.Where(c => c.EventoId == @Model.Id).ToList().Count());
    }
    catch (Exception e)
    {
        classification = null;
    }
    var flag = false;
    var flag2 = false;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .container {
        max-width: 95%;
    }


    .main-body {
        padding: 15px;
    }

  .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: white;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .cartao {
        margin-left: -215px;
    }

    .outrocartao {
        margin-right: -225px
    }

    .seguidores {
        background-color: #d8e8f0;
        color: black;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .cortexto {
        color: #615f5f;
    }

    .tamanho {
        font-size: 10px;
    }

    .container .star-widget input {
        display: none;
    }

    .star-widget label {
        font-size: 18px;
        color: #444;
        padding: 5px;
        float: right;
        transition: all 0.2s ease;
    }

    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label {
        color: #fd4;
    }

    input:checked ~ label {
        color: #fd4;
    }

    input#rate-5:checked ~ label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
    }

    input:checked ~ form {
        display: block;
    }


    .noHover {
        pointer-events: none !important;
    }

    .rounded-circle {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }
</style>

<body>
    <div class="container">
        <div class="main-body">
             <span class="hovertext" data-hover="Nesta página dos detalhes do evento, pode consultar várias informações relacionadas com o evento que selecionou. Tem ainda a opção de ver os perfis dos participantes do evento, pode fazer comentários a este evento, como também colocar fotos que tenha tirado no evento. Além destas possibilidades, pode fazer uma avaliação acerca do evento, selecionando as estrelas que pretende.">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Detalhes do Evento</h1>
            </div>
            <hr style="height:2px;">
            <div class="row gutters-sm">
                <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem;"></div>
                <div class="col-md-7">                
                    <div class="card mb-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/uploads/@Model.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png'" width="295" height="225" style="border-radius:12px">
                                </div>
                                <div class="col-sm-7">
                                    <div class="star-widget" style="float:right">
                                        @foreach (var usereventos in @Model.UserEventos)
                                        {
                                            @if (@Model.Id == usereventos.EventoId && usereventos.UserId.Equals(ViewData["curUser"]))
                                            {
                                                flag2 = true;
                                            }
                                        }
                                        @if (flag2)
                                        {
                                            @if (classification != null)
                                            {
                                                <div class="star-widgett noHover" style="padding-top:1rem; font-size: 14px; padding: 3px; " disable>
                                                    <input @if(@classificacaoMedia == 5){
                                                   @:checked
                                                   } type="checkbox" name="rate" value="5">
                                                    <label for="ratee-5" class="fas fa-star"></label>
                                                    <input @if(@classificacaoMedia == 4){
                                                   @:checked
                                                   }type="checkbox" name="rate" value="4">
                                                    <label for="ratee-4" class="fas fa-star"></label>
                                                    <input @if(@classificacaoMedia == 3){
                                                   @:checked
                                                   } type="checkbox" name="rate" value="3">
                                                    <label for="ratee-3" class="fas fa-star"></label>
                                                    <input @if(@classificacaoMedia== 2){
                                                   @:checked
                                                   } type="checkbox" name="rate" value="2">
                                                    <label for="ratee-2" class="fas fa-star"></label>
                                                    <input @if(@classificacaoMedia == 1){
                                                   @:checked
                                                   } type="checkbox" name="rate" value="1">
                                                    <label for="ratee-1" class="fas fa-star"></label>
                                                </div>
                                            }
                                            else
                                            {
                                                <form id="classification" method="post">
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <input name="curUserId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input type="radio" value=5 name="rate" id="rate-5">
                                                    <label for="rate-5" class="fas fa-star"></label>
                                                    <input type="radio" value=4 name="rate" id="rate-4">
                                                    <label for="rate-4" class="fas fa-star"></label>
                                                    <input type="radio" value=3 name="rate" id="rate-3">
                                                    <label for="rate-3" class="fas fa-star"></label>
                                                    <input type="radio" value=2 name="rate" id="rate-2">
                                                    <label for="rate-2" class="fas fa-star"></label>
                                                    <input type="radio" value=1 name="rate" id="rate-1">
                                                    <label for="rate-1" class="fas fa-star"></label>
                                                    <div>
                                                        <button class="btn btn-info botao right" asp-action="Classificar" asp-controller="Evento" type="submit">
                                                            Avaliar
                                                        </button>
                                                    </div>
                                                </form>
                                            }
                                        }
                                    </div>
                                    <h2 style="color:#124E82">
                                        @Model.Name
                                    </h2>
                                    <div class="text-secondary cortexto">
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2 style="color:#124E82">@Model.Date</h2>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                </div>
                            </div>
                            <br>
                            @*<div class="row mt-3">
                                <div class="col-md-2">
                                <h6 class="mb-0">Criador: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                @ViewData["user"]
                                </div>
                                </div>*@
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <h6 class="mb-0">Localização: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.Location
                                </div>
                                <div class="col-md-3">
                                    <h6 class="mb-0">Limite de Pessoas:</h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.UserLimit
                                </div>
                            </div>
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <h6 class="mb-0">País: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.Country
                                </div>
                                <div class="col-md-3">
                                    <h6 class="mb-0">Evento Privado:</h6>
                                </div>
                                @if (@Model.IsPrivate)
                                {
                                    <div class="col-sm text-secondary">
                                        Sim
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm text-secondary">
                                        Não
                                    </div>
                                }
                            </div>
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <h6 class="mb-0">Modalidade: </h6>
                                </div>
                                <div class="col-sm text-secondary">
                                    @Model.Sport
                                </div>
                                <div class="col-md-3">
                                    <h6 class="mb-0">Evento Recorrente:</h6>
                                </div>
                                @if (@Model.IsRecurring)
                                {
                                    <div class="col-sm text-secondary">
                                        Sim
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm text-secondary">
                                        Não
                                    </div>
                                }
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    @{
                                        if (ViewData["hostId"].Equals(ViewData["curUser"]))
                                        {
                                            <a id="delete" asp-action="DisableEvento" asp-route-id="@Model.Id" class="btn btn-danger right">Terminar Evento</a>
                                            <a class="btn btn-info botao right" asp-controller="Evento" asp-action="EditarEvento" asp-route-id="@Model.Id">Editar Evento</a>
                                            <form method="post" asp-controller="Evento" asp-action="FotoEvento">
                                                <input name="eventoId" hidden value="@Model.Id" />
                                                <button type="submit" class="btn btn-info botao right">Fotos</button>
                                            </form>
                                            <form method="post" asp-controller="Evento" asp-action="ComentarioEvento">
                                                <input name="eventoId" hidden value="@Model.Id" />
                                                <button type="submit" class="btn btn-info botao right">Comentários</button>
                                            </form>
                                        }
                                        else
                                        {
                                            @foreach (var usereventos in UserEvento)
                                            {
                                                @if (@Model.Id == usereventos.EventoId)
                                                {
                                                    @if (@Model.Id == usereventos.EventoId && usereventos.UserId.Equals(ViewData["curUser"]))
                                                    {
                                                        flag = true;
                                                    }
                                                }
                                            }
                                            @if (flag)
                                            {
                                                <form method="post" asp-action="SairEvento">
                                                    <input name="userId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <button type="submit" class="btn btn-danger right" style="color:white;">Sair do Evento</button>
                                                </form>
                                                //Botoes para colocar comentarios e fotos
                                                <form method="post" asp-controller="Evento" asp-action="FotoEvento">
                                                    <input name="userId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <button type="submit" class="btn btn-info botao right">Fotos</button>
                                                </form>
                                                <form method="post" asp-controller="Evento" asp-action="ComentarioEvento">
                                                    <input name="userId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <button type="submit" class="btn btn-info botao right">Comentários</button>
                                                </form>
                                                //---------
                                            }
                                            else if(@Model.IsPrivate == false)
                                            {
                                                <form method="post" asp-action="EntrarEvento">
                                                    <input name="userId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                                    <input name="eventoId" hidden value="@Model.Id" />
                                                    <button type="submit" class="btn btn-info botao right">Juntar Evento</button>
                                                </form>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 outrocartao">
                    <div class="card" style="overflow: auto; height: 650px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);">
                        <div class="card-body">
                            @{
                                if (ViewData["hostId"].Equals(ViewData["curUser"]))
                                {
                                    <div class="col-sm-12">
                                        <a id="delete" class="btn btn-danger right tamanho" asp-controller="Evento" asp-action="RemoveUsers" asp-route-id="@Model.Id"> Remover Membros</a> @* Esconder este botão se não for o dono do evento*@
                                        <a class="btn btn-info botao right tamanho" asp-controller="Evento" asp-action="AddUsers" asp-route-id="@Model.Id">Adicionar Membro</a> @* Esconder este botão se não for o dono do evento*@
                                    </div>
                                }
                            }
                            <h6 class="mb-0">Participantes</h6>
                            <br>
                            <ul class="list-group list-group-flush">
                                @foreach (var userEventos in Model.UserEventos)
                                {
                                    if (@userEventos.IsHost)
                                    {
                                        <li class="list-group-item d-flex align-items-center flex-wrap seguidores" style="background-color:white">
                                            <h6 class="mb-0"><img src="/uploads/@userEventos.User.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="45"></h6>
                                            <span class="text-secondary">
                                                &nbsp; <b>Host - @userEventos.User.Name</b> &nbsp;
                                                @if (!@userEventos.UserId.Equals(ViewData["curUser"]))
                                                {
                                                    <a asp-controller="Utilizador" asp-action="PaginaPerfilUtilizador" asp-route-id=@userEventos.UserId>Ver Perfil</a>
                                                }
                                            </span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item d-flex align-items-center flex-wrap seguidores" style="background-color:white">
                                            <h6 class="mb-0"><img src="/uploads/@userEventos.User.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="45"></h6>
                                            <span class="text-secondary">
                                                &nbsp; @userEventos.User.Name &nbsp;
                                                @if (!@userEventos.UserId.Equals(ViewData["curUser"]))
                                                {
                                                    <a asp-controller="Utilizador" asp-action="PaginaPerfilUtilizador" asp-route-id=@userEventos.UserId>Ver Perfil</a>
                                                    @* <a asp-controller="Utilizador" asp-action="PaginaPerfilUtilizador">Ver Perfil</a>*@
                                                }
                                            </span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
@section Scripts
{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    const btn = document.querySelector("button");
         const post = document.querySelector(".post");
         const widget = document.querySelector(".star-widget");
         const editBtn = document.querySelector(".edit");
         btn.onclick = ()=>{
           widget.style.display = "none";
           post.style.display = "block";
           editBtn.onclick = ()=>{
             widget.style.display = "block";
             post.style.display = "none";
           }
           return false;
         }
</script>
}
</html>