﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventoModel
@{
    ViewData["Title"] = "Editar Evento";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>

    body {
        background-color: #e2e8f0;
    }

    .container {
        max-width: 88%;
    }

    .text-center {
        text-align: left !important;
    }

    @@media screen and (max-width: 600px) {
        .text-center {
            text-align: center !important;
        }

        .container {
            max-width: 90%;
        }

        .editimage{
            width:200px;
            height:160px;
        }

    }

    .form-control:focus {
        box-shadow: none;
        border-color: #084d6e
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #084d6e
        }

        .profile-button:focus {
            background: #084d6e;
            box-shadow: none
        }

        .profile-button:active {
            background: #084d6e;
            box-shadow: none
        }

    .back:hover {
        color: #084d6e;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #084d6e;
        color: #fff;
        cursor: pointer;
        border: solid 1px #084d6e
    }

    .cartao {
        background-color: white;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .botaogaurdar {
        background-color: #084d6e;
        color: white;
        width: 165px;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #084d6e;
        color: white;
        width: 250px;
    }

    .hidden {
        display: none;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 300px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }
</style>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <br>
    <div class="container">
        <span class="hovertext" data-hover="Na página de edição do evento, pode editar os dados do evento criado por si, para isso basta alterar a informação que se encontra nas caixas de texto. Pode também alterar a foto do evento, para isso basta clicar em 'Carregar Foto', e selecionar uma foto à sua escolha, no fim só tem de clicar em 'Guardar Alterações', e as suas informações serão guardadas. ">
            <img src="~/imagens/help-web-button.png" width="35" />
        </span>
        <div style="text-align:center">
            <h1 class="display-4">Editar Evento</h1>
        </div>
        <hr style="height:2px;">
        <form name="editarevento" id="editarevento" class="container rounded mt-5 mb-5 cartao" method="post" enctype="multipart/form-data" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img id="imagem" src="/uploads/@Model.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png'" class="editimage" width="235" height="195" style="border-radius:12px">
                        <br>
                        <label class="btn btn-info botaogaurdar">
                            <input type="file" name="file" onchange="document.getElementById('imagem').src = window.URL.createObjectURL(this.files[0])" />
                            Carregar Foto
                        </label>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Editar Detalhes do Evento</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">
                                    <h6>Nome do Evento</h6>
                                </label>
                                <input class="form-control" placeholder="@Model.Name" asp-for="Name" id="name">
                                <span class="error"><p id="name_error" style="color:red"></p></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">
                                    <h6>Descrição do Evento</h6>
                                </label>
                                <textarea class="form-control" placeholder="@Model.Description" asp-for="Description" style="height: 82px; resize: none;" id="descricao"></textarea>
                                <span class="error"><p id="descricao_error" style="color:red"></p></span>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">
                                    <h6> Localização </h6>
                                </label>
                                <input class="form-control" placeholder="@Model.Location" asp-for="Location" id="localizacao">
                                <span class="error"><p id="localizacao_error" style="color:red"></p></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">
                                    <h6> Data do Evento </h6>
                                </label>
                                <input class="form-control" placeholder="@Model.Date" asp-for="Date" type="datetime-local" id="data">
                                <span class="error"><p id="data_error" style="color:red"></p></span>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">
                                    <h6> País </h6>
                                </label>
                                <select class="form-select" aria-label="Default select example" placeholder="@Model.Country" asp-for="Country">
                                    <option selected>Portugal</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">
                                    <h6> Modalidade </h6>
                                </label>
                                <select class="form-select" aria-label="Default select example" placeholder="@Model.Sport" asp-for="Sport">
                                    <option selected>Futebol</option>
                                    <option value="Video Jogos">Video Jogos</option>
                                    <option value="Basket">Basket</option>
                                    <option value="Jogging">Jogging</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">
                                    <h6> Limite de Pessoas </h6>
                                </label>
                                <input class="form-control" placeholder="@Model.UserLimit" asp-for="UserLimit" id="limite">
                                <span class="error"><p id="limite_error" style="color:red"></p></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Privacidade</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels"><h6>Evento Privado</h6></label>
                                <select class="form-select" aria-label="Default select example" placeholder="@Model.IsPrivate" asp-for="IsPrivate">
                                    <option selected value="false">Não</option>
                                    <option value="true">Sim</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels"><h6>Evento Recorrente</h6></label>
                                <select class="form-select" aria-label="Default select example" placeholder="@Model.IsRecurring" asp-for="IsRecurring">
                                    <option selected value="false">Não</option>
                                    <option value="true">Sim</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="justify-content-center" style="text-align:center">
                            <button id="btn" class="btn btn-info botaogaurdar" type="submit" value="Save">Guardar Alterações</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

@section Scripts {

<script>

    document.getElementById("editarevento").onsubmit = function () {
        var x = document.forms["editarevento"]["name"].value;
        var v = document.forms["editarevento"]["localizacao"].value;
        var y = document.forms["editarevento"]["descricao"].value;
        var z = document.forms["editarevento"]["data"].value;
        var w = document.forms["editarevento"]["limite"].value;
        var t = document.forms["editarevento"]["limite"].value;

        var submit = true;

        if (x == null || x == "") {
            nameError = "* É preciso preencher o campo Nome *";
            document.getElementById("name_error").innerHTML = nameError;
            $(this).css("border","2px solid red");
            submit = false;
        }

        if (v == null || v == "") {
            localizacaoError = "* É preciso preencher o campo Localização *";
            document.getElementById("localizacao_error").innerHTML = localizacaoError;
            $(this).css("border","2px solid red");
            submit = false;
        }

        if (y == null || y == "") {
            descricaoError = "* É preciso preencher o campo Descrição *";
            document.getElementById("descricao_error").innerHTML = descricaoError;
            $(this).css("border","2px solid red");
            submit = false;
        }

        if (z == null || z == "") {
            dataError = "* É preciso preencher o campo Data *";
            document.getElementById("data_error").innerHTML = dataError;
            $(this).css("border","2px solid red");
            submit = false;
        }

        if (w == null || w == "" || w <= 0) {
            limiteError = "* É preciso preencher o campo Limite ou ser maior que 0*";
            document.getElementById("limite_error").innerHTML = limiteError;
            $(this).css("border","2px solid red");
            submit = false;
        }

        return submit;
    }

    function removeWarning() {
        document.getElementById(this.id + "_error").innerHTML = "";
    }

    document.getElementById("name").onkeyup = removeWarning;
    document.getElementById("localizacao").onkeyup = removeWarning;
    document.getElementById("descricao").onkeyup = removeWarning;
    document.getElementById("data").onkeyup = removeWarning;
    document.getElementById("limite").onkeyup = removeWarning;


</script>
}




</html>
