﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<FotoModel>
@inject UserManager<User> UserManager
@inject WebApplication1Context _context;
@{
    ViewData["Title"] = "Fotos do Evento";
    var curUser = UserManager.GetUserAsync(User).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        color: white;
    }

    .posts-content {
        margin-top: 20px;
    }

    .ui-w-40 {
        width: 40px !important;
        height: auto;
    }

    .default-style .ui-bordered {
        border: 1px solid rgba(24,28,33,0.06);
    }

    .ui-bg-cover {
        background-color: transparent;
        background-position: center center;
        background-size: cover;
    }

    .ui-rect {
        padding-top: 50% !important;
    }

    .ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
        position: relative !important;
        display: block !important;
        padding-top: 100% !important;
        width: 100% !important;
    }

    .d-flex, .d-inline-flex, .media, .media > :not(.media-body), .jumbotron, .card {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

    .bg-dark {
        background-color: rgba(24,28,33,0.9) !important;
    }

    .card-footer, .card hr {
        border-color: rgba(24,28,33,0.06);
    }

    .ui-rect-content {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .default-style .ui-bordered {
        border: 1px solid rgba(24,28,33,0.06);
    }

    .botaogaurdar {
        background-color: #084d6e;
        color: white;
    }

    input[type="file"] {
        display: none;
    }

    .rounded-circle {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }
</style>
<body>
    <div class="container">
        <div class="main-body">
            <span class="hovertext" data-hover="Nesta página pode inserir várias fotos sobre o evento, como também ver as fotos colocadas pelos outros participantes do evento. Para colocar uma foto, clique em 'Carregar Foto', e depois de selcionar a foto, clique em 'Adicionar', e verifique que a foto foi colocada com sucesso.">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Fotos</h1>
            </div>
             <hr style="height:2px;">
            <br>
            <div class="row gutters-sm" style="padding-bottom:75px;">
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body" style="overflow: auto; height: 638px;">
                            <div class="d-flex flex-row-reverse">
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                @foreach (var foto in @Model)
                                {
                                    <div class="col-lg-4">
                                        <div class="card mb-4" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
                                            <div class="card-body" style="padding-bottom: 0px;">
                                                <div class="media mb-3">
                                                    <img src="/uploads/@UserManager.FindByIdAsync(foto.User).Result.ImagePath" class="rounded-circle" alt="">
                                                    <div class="media-body ml-3">
                                                        @UserManager.FindByIdAsync(foto.User).Result.Name
                                                        <img class="card-img-bottom" src="~/uploads/@foto.ImagePath" alt="Card image cap" style="height:200px; width:215; border-radius:12px">
                                                        <div class="text-muted small">
                                                            <br>
                                                            <form id="ApagarFoto" method="post">
                                                                <input name="fotoId" hidden value="@foto.Id" />
                                                                <input name="eventoId" hidden value="@ViewData["eventoId"]" />
                                                                @if (curUser.Id.Equals(foto.User))
                                                                {
                                                                    <button class="btn btn-danger right" type="submit" asp-action="ApagarFoto" asp-controller="Evento" style="color:white;">Apagar</button>
                                                                }
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center" id="userPartialView">
                                 <img id="imagem" width="235" height="195" style="border-radius:12px">
                                     <br>
                                <form id="fotoform" method="post" enctype="multipart/form-data">
                                    <label class="btn btn-info botaogaurdar">
                                        <input type="file" name="file" onchange="document.getElementById('imagem').src = window.URL.createObjectURL(this.files[0])" />
                                        <input name="eventoId" hidden value="@ViewData["eventoId"]" />
                                        <input name="curUserId" hidden value="@UserManager.GetUserAsync(User).Result.Id" />
                                        Carregar Foto
                                    </label>&nbsp;
                                    <Button class="btn btn-info botao right" type="Submit" asp-action="AdicionarFoto" asp-controller="Evento" style="color:white;">Adicionar</Button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>