﻿@using Microsoft.AspNetCore.Identity
@using System.Globalization
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@using WebApplication1.Models
@inject UserManager<User> _userManager;
@inject WebApplication1Context _context;
@model List<EventoModel>
@{
    var UserEvento = _context.UserEventos.ToList();
    ViewData["Title"] = "Ver Histórico";
    var conquistas = _context.ConquistasUser.Where(c => c.UserId.Equals(_userManager.GetUserAsync(User).Result.Id)).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<style>

    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        color: white;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f5f5f5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #084d6e;
        }

    .timeline-btn {
        position: absolute;
        bottom: 0;
        right: 30px;
    }

    .nav-tabs.md-tabs.tab-timeline li a {
        padding: 20px 0 10px;
        color: #666666;
        font-size: 18px;
    }

    .tab-timeline .slide {
        bottom: -1px;
    }

    .timeline-icon {
        height: 45px;
        width: 45px;
        display: block;
        margin: 0 auto;
        border: 4px #fff solid;
    }

    .social-client-description span {
        font-size: 12px;
        margin-left: 10px;
    }

    .card .card-block {
        padding: 25px;
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .md-tabs .nav-item {
        width: calc(100%/ 3);
        text-align: center;
    }

        .md-tabs .nav-item .nav-link.active ~ .slide {
            opacity: 1;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .md-tabs .nav-item .nav-link ~ .slide {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

    .tab-timeline .slide {
        bottom: -1px;
    }

    .nav-tabs .slide {
        background: #084d6e;
        width: calc(100%/ 3);
        height: 4px;
        position: absolute;
        -webkit-transition: left 0.3s ease-out;
        transition: left 0.3s ease-out;
        bottom: 0;
    }

    .seguir {
        background-color: #084d6e;
    }

    .bg-light-primary {
        background-color: #f9fbff !important;
    }

    .pb-6, .py-6 {
        padding-bottom: 3.75rem !important;
    }

    .pt-6, .py-6 {
        padding-top: 3.75rem !important;
    }

    .hover-scale, .hover-scale:hover {
        transition: transform .2s ease-in;
    }

    .cardd {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .4rem;
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card-bodyy {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    .navhover:hover {
        background-color: #fff !important;
    }

    .hovertext {
        position: relative;
    }

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 350px;
        background-color: #cfcfcf;
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 110%;
    }

    .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
    }
</style>
<body>
     @if (TempData["ErroEventoApagado"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel apagar evento
        </div>
    }
    @if (TempData["SucessoEventoApagado"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Evento Apagado com Sucesso
        </div>
    }
    <div class="container">
        <div class="main-body">
            <span class="hovertext" data-hover="Aqui pode encontrar os eventos onde participou, no separador 'Histórico', como também as conquistas que irá alcançado ao longo da utilização da aplicação.">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Histórico e Conquistas</h1>
            </div>
             <hr style="height:2px;">
            <br>
            <div class="row gutters-sm" style="padding-bottom:75px;">
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/uploads/@_userManager.GetUserAsync(User).Result.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="125">
                                <div class="mt-3">
                                    <h4>@_userManager.GetUserAsync(User).Result.Name</h4>
                                    @* Aqui *@
                                    <p class="text-secondary mb-1">
                                        <img src="~/imagens/map.png" width="15" />@_userManager.GetUserAsync(User).Result.Country
                                    </p>
                                    <p class="text-secondary mb-1">@_userManager.GetUserAsync(User).Result.Hobbies</p>
                                    <br>
                                    <h4>Conquistas</h4>
                                    @foreach (var conq in @conquistas)
                                    {
                                        <img src="@_context.Conquistas.First(c=>c.Id==conq.ConquistId).Badge" class="rounded-circle" width="30"/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-xl-12 col-lg-8 col-md-8 col-xs-12 ">
                        <div class="card social-tabs">
                            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                <li class="nav-item navhover">
                                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Dados</a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item navhover">
                                    <a class="nav-link" data-toggle="tab" href="#about" role="tab">Eventos Anteriores</a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item navhover">
                                    <a class="nav-link" data-toggle="tab" href="#photos" role="tab">Conquistas</a>
                                    <div class="slide"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="timeline">
                                <div class="col-md-14">
                                    <div class="card mb-3" style="margin-top:-14px;">
                                        <div class="card-body" style="overflow: auto; height: 531px; margin-top:60px;">
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Nome</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.Name
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Data de Nascimento</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.BirthDate.ToLongDateString()
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Idade</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.Age anos
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Morada</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.Address
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Telemóvel</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.PhoneNumber
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Email</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.Email
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <h6 class="mb-0">Hobbies</h6>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                    @_userManager.GetUserAsync(User).Result.Hobbies
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="about">
                                <div class="card mb-3">
                                    <div class="card-body" style="overflow: auto; height: 585px;">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            @foreach (var evento in Model)
                                            {
                                                @foreach (var usereventos in UserEvento)
                                                {
                                                    @if (usereventos.EventoId == @evento.Id && usereventos.UserId == @_userManager.GetUserAsync(User).Result.Id)
                                                    {
                                                        @if (evento.isActive == false)
                                                        {
                                                            <div class="col-md-4 mb-3">
                                                                <div class="card" style="background-color:#cadbe3;">
                                                                    <img src="~/uploads/@evento.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png class="card-img-top" alt="..." style="height:100px">
                                                                    <div class="card-body cartao">
                                                                        <h5 class="card-title">@evento.Name</h5>
                                                                        <p>@evento.Description</p>
                                                                        @if (@usereventos.IsHost)
                                                                        {
                                                                            <a id="delete" asp-action="DeleteEventoHistorico" asp-route-id="@evento.Id" class="btn btn-danger right">Apagar Evento</a>
                                                                        }
                                                                        <a class="btn btn-info botao" asp-controller="Evento" asp-action="DetalheEventoDisable" asp-route-id="@evento.Id">Detalhes Evento</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="photos">
                                <div class="card">
                                    <div class="card mb-3">
                                        <div class="card-body" style="overflow: auto; height: 585px;">
                                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                                @foreach (var conq in @conquistas)
                                                {
                                                    <div class="col-md-3 mb-3">
                                                        <div class="card" style="background-color:white; border: 2px solid #084d6e; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
                                                            <img src="@_context.Conquistas.First(c=>c.Id==conq.ConquistId).Badge"/>
                                                            <p style="text-align:center;">@_context.Conquistas.First(c => c.Id == conq.ConquistId).Description</p>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>