﻿@using Microsoft.AspNetCore.Identity
@using System.Globalization
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@using WebApplication1.Models

@inject UserManager<User> _userManager;
@inject WebApplication1Context _context;

@model IEnumerable<EventoModel>
@{
    ViewData["Title"] = "Página Inicial";
    var flag = false;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
</head>
<style>

    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .cartao {
        background-color: #e2e8f0;
    }

    .rightt {
        float: right;
        color: white;
    }

    .breadcrumb {
        font-size: 25px;
        text-align: center;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }


    /*        */

    :root {
        --dark-body: #4d4c5a;
        --dark-main: #141529;
        --dark-second: #79788c;
        --dark-hover: #323048;
        --dark-text: #f8fbff;
        --light-body: #f3f8fe;
        --light-main: #fdfdfd;
        --light-second: #c3c2c8;
        --light-hover: #edf0f5;
        --light-text: #151426;
        --blue: #0000ff;
        --white: #fff;
        --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .dark {
        --bg-body: var(--dark-body);
        --bg-main: var(--dark-main);
        --bg-second: var(--dark-second);
        --color-hover: var(--dark-hover);
        --color-txt: var(--dark-text);
    }

    .light {
        --bg-body: var(--light-body);
        --bg-main: var(--light-main);
        --bg-second: var(--light-second);
        --color-hover: var(--light-hover);
        --color-txt: var(--light-text);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .calendar {
        height: max-content;
        width: max-content;
        background-color: var(--bg-main);
        border-radius: 30px;
        padding: 2px;
        position: relative;
        overflow: hidden;
    }

    .light .calendar {
        box-shadow: var(--shadow);
    }

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        color: var(--color-txt);
        padding: 10px;
    }

    .calendar-body {
        padding: 10px;
    }

    .calendar-week-day {
        height: 50px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
    }

    .calendar-week-day div {
        display: grid;
        place-items: center;
        color: var(--bg-second);
    }

    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
        color: var(--color-txt);
    }

        .calendar-days div {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            position: relative;
            cursor: pointer;
            animation: to-top 1s forwards;
            /* border-radius: 50%; */
        }

        .calendar-days div span {
            position: absolute;
        }

        .calendar-days div:hover span {
            transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
        }

        .calendar-days div span:nth-child(1),
        .calendar-days div span:nth-child(3) {
            width: 2px;
            height: 0;
            background-color: var(--color-txt);
        }

        .calendar-days div:hover span:nth-child(1),
        .calendar-days div:hover span:nth-child(3) {
            height: 100%;
        }

        .calendar-days div span:nth-child(1) {
            bottom: 0;
            left: 0;
        }

        .calendar-days div span:nth-child(3) {
            top: 0;
            right: 0;
        }

        .calendar-days div span:nth-child(2),
        .calendar-days div span:nth-child(4) {
            width: 0;
            height: 2px;
            background-color: var(--color-txt);
        }

        .calendar-days div:hover span:nth-child(2),
        .calendar-days div:hover span:nth-child(4) {
            width: 100%;
        }

        .calendar-days div span:nth-child(2) {
            top: 0;
            left: 0;
        }

        .calendar-days div span:nth-child(4) {
            bottom: 0;
            right: 0;
        }

        .calendar-days div:hover span:nth-child(2) {
            transition-delay: 0.2s;
        }

        .calendar-days div:hover span:nth-child(3) {
            transition-delay: 0.4s;
        }

        .calendar-days div:hover span:nth-child(4) {
            transition-delay: 0.6s;
        }

        .calendar-days div.curr-date,
        .calendar-days div.curr-date:hover {
            background-color: #426CB4;
            color: var(--white);
            border-radius: 50%;
        }

        .calendar-days div.curr-date span {
            display: none;
        }

    .month-picker {
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
    }

        .month-picker:hover {
            background-color: var(--color-hover);
        }

    .year-picker {
        display: flex;
        align-items: center;
    }

    .year-change {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin: 0 10px;
        cursor: pointer;
    }

    .year-change:hover {
        background-color: var(--color-hover);
    }

    .calendar-footer {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .toggle {
        display: flex;
    }

    .toggle span {
        margin-right: 10px;
        color: var(--color-txt);
    }

    .dark-mode-switch {
        position: relative;
        width: 48px;
        height: 25px;
        border-radius: 14px;
        background-color: var(--bg-second);
        cursor: pointer;
    }

    .dark-mode-switch-ident {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: var(--bg-main);
        position: absolute;
        top: 2px;
        left: 2px;
        transition: left 0.2s ease-in-out;
    }

    .dark .dark-mode-switch .dark-mode-switch-ident {
        top: 2px;
        left: calc(2px + 50%);
    }

    .month-list {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--bg-main);
        padding: 20px;
        grid-template-columns: repeat(3, auto);
        gap: 5px;
        display: grid;
        transform: scale(1.5);
        visibility: hidden;
        pointer-events: none;
    }

    .month-list.show {
        transform: scale(1);
        visibility: visible;
        pointer-events: visible;
        transition: all 0.2s ease-in-out;
    }

    .month-list > div {
        display: grid;
        place-items: center;
    }

    .month-list > div > div {
        width: 100%;
        padding: 5px 20px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        color: var(--color-txt);
    }

    .month-list > div > div:hover {
        background-color: var(--color-hover);
    }

    @@keyframes to-top {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .hovertext {
        position: relative;
    }

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 350px;
        background-color: #cfcfcf;
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 110%;
    }

    .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
    }

</style>

<body class="light">
    @if (TempData["ErroEventoTerminado"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel terminar evento
        </div>
    }
    @if (TempData["SucessoEventoTerminado"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Evento terminado com sucesso verifique o seu histórico de eventos
        </div>
    }
    <div class="container">
        <span class="hovertext" data-hover="Aqui encontra-se a página inicial da aplicação. Aqui pode consultar todos os eventos onde participa, como também os eventos em que as pessoas que está a seguir, se encontram inscritos. ">
            <img src="~/imagens/help-web-button.png" width="35" />
        </span>

        <div class="text-center">
            <h1 class="display-4">Os meus eventos</h1>
        </div>
        <hr style="height:2px;">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body" style="overflow: auto; height: 585px;">
                            @if(@Model.ToList().Count == 0)
                                {
                                    <strong><p style ="color:black; font-size:20px;text-align:center; margin-top:250px;">Ainda não entrou em nenhum evento!</p></strong>
                                }
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                
                                @foreach (var evento in @Model)
                                {
                                    @if (evento.isActive == true)
                                    {
                                        <div class="col" style="width:303px">
                                            <div class="card" style="background-color:#cadbe3;">
                                                <img src="/uploads/@evento.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png'" class="card-img-top" alt="..." style="height:100px">
                                                <div class="card-body">
                                                    <h5 class="card-title">@evento.Name</h5>
                                                    <p>@evento.Description</p>
                                                    <h5 style="color: #084d6e;">Data: @evento.Date.ToLongDateString() &nbsp; @evento.Date.ToLongTimeString()</h5>
                                                    @foreach (var userevento in evento.UserEventos)
                                                    {
                                                        if (userevento.IsHost && userevento.UserId.Equals(ViewData["curUserId"]))
                                                        {
                                                            flag = true;
                                                        }
                                                    }
                                                    @if (flag)
                                                    {
                                                        <a id="delete" asp-action="DisableEvento" asp-route-id="@evento.Id" class="btn btn-danger rightt" style="font-size: 11px">Terminar Evento</a>
                                                        <a class="btn btn-info botao" asp-controller="Evento" asp-action="DetalheEvento" asp-route-id="@evento.Id" style="font-size: 11px; border:none;">Detalhes Evento</a>
                                                        flag = false;
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-info botao" asp-controller="Evento" asp-action="DetalheEvento" asp-route-id="@evento.Id" style="font-size: 11px; border:none;">Detalhes Evento</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3" style="line-height: 0px">
                    <br> <br>
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="calendar">
                            <div class="calendar-header">
                                <span class="month-picker" id="month-picker">February</span>
                                <div class="year-picker">
                                    <span class="year-change" id="prev-year" style="color:black !important">
                                        <pre><</pre>
                                    </span>
                                    <span id="year">2021</span>
                                    <span class="year-change" id="next-year">
                                        <pre style="color:black">></pre>
                                    </span>
                                </div>
                            </div>
                            <div class="calendar-body">
                                <div class="calendar-week-day">
                                    <div>Seg</div>
                                    <div>Ter</div>
                                    <div>Qua</div>
                                    <div>Qui</div>
                                    <div>Sex</div>
                                    <div>Sab</div>
                                    <div>Dom</div>
                                </div>
                                <div class="calendar-days"></div>
                            </div>
                            <div class="month-list"></div>
                        </div>
                    </div>
                </div>
                <br>  <br>  <br>  <br>  <br>
            </div>
        </div>
    </div>
</body>
@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>

<script>

        let calendar = document.querySelector('.calendar')

    const month_names = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

    isLeapYear = (year) => {
        return (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) || (year % 100 === 0 && year % 400 ===0)
    }

    getFebDays = (year) => {
        return isLeapYear(year) ? 29 : 28
    }

    generateCalendar = (month, year) => {

        let calendar_days = calendar.querySelector('.calendar-days')
        let calendar_header_year = calendar.querySelector('#year')

        let days_of_month = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

        calendar_days.innerHTML = ''

        let currDate = new Date()
        if(month == null) month = currDate.getMonth()
        if (!year) year = currDate.getFullYear()

        let curr_month = `${month_names[month]}`
        month_picker.innerHTML = curr_month
        calendar_header_year.innerHTML = year

        // get first day of month

        let first_day = new Date(year, month, 1)

        for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
            let day = document.createElement('div')
            if (i >= first_day.getDay()) {
                day.classList.add('calendar-day-hover')
                day.innerHTML = i - first_day.getDay() + 1
                day.innerHTML += `<span></span>
                                <span></span>
                                <span></span>
                                <span></span>`
                if (i - first_day.getDay() + 1 === currDate.getDate() && year === currDate.getFullYear() && month === currDate.getMonth()) {
                    day.classList.add('curr-date')
                }
            }
            calendar_days.appendChild(day)
        }
    }

    let month_list = calendar.querySelector('.month-list')

    month_names.forEach((e, index) => {
        let month = document.createElement('div')
        month.innerHTML = `<div data-month="${index}">${e}</div>`
        month.querySelector('div').onclick = () => {
            month_list.classList.remove('show')
            curr_month.value = index
            generateCalendar(index, curr_year.value)
        }
        month_list.appendChild(month)
    })

    let month_picker = calendar.querySelector('#month-picker')

    month_picker.onclick = () => {
        month_list.classList.add('show')
    }

    let currDate = new Date()

    let curr_month = {value: currDate.getMonth()}
    let curr_year = {value: currDate.getFullYear()}

    generateCalendar(curr_month.value, curr_year.value)

    document.querySelector('#prev-year').onclick = () => {
        --curr_year.value
        generateCalendar(curr_month.value, curr_year.value)
    }

    document.querySelector('#next-year').onclick = () => {
        ++curr_year.value
        generateCalendar(curr_month.value, curr_year.value)
    }

    let dark_mode_toggle = document.querySelector('.dark-mode-switch')

    dark_mode_toggle.onclick = () => {
        document.querySelector('body').classList.toggle('light')
        document.querySelector('body').classList.toggle('dark')
    }



</script>
}
</html>




