﻿@using Microsoft.AspNetCore.Identity
@using System.Globalization
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@using WebApplication1.Models

@inject UserManager<User> _userManager
@inject WebApplication1Context _context;
@model List<EventoModel>
@{
    var UserEvento = _context.UserEventos.ToList();
    var flag = false;
    var flagIsAdmin = false;
    ViewData["Title"] = "VerEvento";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/verEvento.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
</head>
<style>

    body {
        background-color: #e2e8f0;
    }

    .container {
        max-width: 80%;      
    }

    td {
        text-align: center;
    }

    tr {
        text-align: center;
    }

    th {
        text-align: left;
    }

    .border {
        border: 1px solid;
    }

    .card {
        text-align: left;
    }

    h1 {
        text-align: center;
    }

    h5 {
        text-align: left;
        padding-left: 2.5rem;
        color: #124E82;
    }

    #esquerda {
        width: 10%;
    }

    #direita {
        width: 20%;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .meio {
        margin: auto;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #426CB4;
        border-color: #0d6efd;
    }

    .page-item.disabled .page-link {
        color: #426CB4;
        pointer-events: none;
        background-color: #fff;
        border-color: #dee2e6;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }
</style>
<body>
    <br>
    <span class="hovertext" data-hover="Nesta página, pode consultar todos os eventos criados até ao momento na aplicação. Se pretender um evento em especifico, pode utilizar a caixa de pesquisa para pesquisar por nome do evento, tipo de evento, data, etc. Se pretender ver mais em detalhe um evento, basta clicar em 'Ver mais', onde será redirecionado para a página desse evento, com os seus dados mais detalhados. Se pretender entrar logo no evento, basta clicar em 'Entrar Evento', ou pelo contrário, se já estiver em algum e pretende sair, basta clicar em 'Sair Evento'">
        <img src="~/imagens/help-web-button.png" width="35" />
    </span>
    <div class="text-center">
        <h1 class="display-4">Eventos</h1>
    </div>
    <hr style="height:2px;">
    <br>

    @if (TempData["ErroMensagem"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel criar evento
        </div>
    }
    @if (TempData["SuccessoMensagem"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Evento criado com sucesso
        </div>
    }
    @if (TempData["ErroEventoApagado"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel apagar evento
        </div>
    }
    @if (TempData["SucessoEventoApagado"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Evento Apagado com sucesso
        </div>
    }

    @if (TempData["ErroEventoCheio"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Evento cheio!!! Entre noutro evento
        </div>
    }
    @if (TempData["SuccessoEntrou"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Entrou no Evento!
        </div>
    }
    @if (TempData["ErroEntrou"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel entrar no evento
        </div>
    }@if (TempData["SuccessoSaiu"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Saiu do Evento!
        </div>
    }
    @if (TempData["ErroSaiu"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel sair do evento
        </div>
    }
    <table id="example" class="table border" style="width:100%;">
        <thead style="background-color:#ffffff">
            <tr>
                <th id="esquerda"><h5>Data</h5></th>
                <th id="meio"><h5>Informação</h5></th>
                <th id="direita"><h5>Localização</h5></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var evento in Model)
            {
                @if (evento.isActive == true)
                {
                    <tr>
                        <td style="background-color:#BBDCEC; color:#124E82;">
                            <b><h2>@evento.Date.Day</h2></b>
                            @if (@evento.Date.Month == 1)
                            {
                                <p><h6>Janeiro</h6></p>
                            }
                            else if (@evento.Date.Month == 2)
                            {
                                <p><h6>Fevereiro</h6></p>
                            }
                            else if (@evento.Date.Month == 3)
                            {
                                <p><h6>Março</h6></p>
                            }
                            else if (@evento.Date.Month == 4)
                            {
                                <p><h6>Abril</h6></p>
                            }
                            else if (@evento.Date.Month == 5)
                            {
                                <p><h6>Maio</h6></p>
                            }
                            else if (@evento.Date.Month == 6)
                            {
                                <p><h6>Junho</h6></p>
                            }
                            else if (@evento.Date.Month == 7)
                            {
                                <p><h6>Julho</h6></p>
                            }
                            else if (@evento.Date.Month == 8)
                            {
                                <p><h6>Agosto</h6></p>
                            }
                            else if (@evento.Date.Month == 9)
                            {
                                <p><h6>Setembro</h6></p>
                            }
                            else if (@evento.Date.Month == 10)
                            {
                                <p><h6>Outubro</h6></p>
                            }
                            else if (@evento.Date.Month == 11)
                            {
                                <p><h6>Novembro</h6></p>
                            }
                            else if (@evento.Date.Month == 12)
                            {
                                <p><h6>Dezembro</h6></p>
                            }
                            else
                            {
                                <p><h6>Erro</h6></p>
                            }
                            <p><h6>@evento.Date.Year</h6></p>
                            <p><h6>@evento.Date.TimeOfDay</h6></p>
                        </td>
                        <td style="background-color:#ebf5fa;">
                            <div class="card mb-1" style="max-width: auto; max-height: auto; border:none;">
                                <div class="row g-0">
                                    <div class="col-md-4" style="background-color:#ebf5fa">
                                        <img src="/uploads/@evento.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png'" width="295" height="225" style="border-radius:12px">
                                    </div>
                                    <div class="col-md-8" style="background-color:#ebf5fa;">
                                        <div class="card-body">
                                            <h5 class="card-title">@evento.Name</h5>
                                            <p class="card-text" style="padding-left:2.5rem;">@evento.Description</p>
                                            <div>
                                                <h5>@evento.Sport</h5>
                                            </div>
                                            <br><br><br><br>
                                            <p class="card-text" style="padding-left:2.5rem;"><small class="text-muted"><a asp-controller="Evento" asp-action="DetalheEvento" asp-route-id="@evento.Id">Ver mais >></a></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="background-color:#BBDCEC; color:#124E82;">
                            <p class="text-secondary mb-1"> <img src="~/imagens/maps-and-flags.png" width="15" /></p>
                            <p><h6><i>@evento.Country</i></h6></p>
                            <p><h6><i>@evento.Location</i></h6></p>
                            @foreach (var usersEvento in UserEvento)
                            {
                                @if (usersEvento.EventoId == @evento.Id)
                                {
                                    @if (@_userManager.GetUserAsync(User).Result != null)
                                    {
                                        @if (usersEvento.EventoId == @evento.Id && usersEvento.UserId == @_userManager.GetUserAsync(User).Result.Id)
                                        {
                                            flag = true;
                                            @if (usersEvento.IsHost == true)
                                            {
                                                flagIsAdmin = true;
                                            }
                                        }
                                    }
                                }
                            }
                            @if (!flagIsAdmin)
                            {
                                @if (flag)
                                {
                                    <form method="post" asp-action="SairEvento">
                                        <input name="userId" hidden value="@_userManager.GetUserAsync(User).Result.Id" />
                                        <input name="eventoId" hidden value="@evento.Id" />
                                        <button type="submit" class="btn btn-danger botao meio" style="border: none;">Sair Evento</button>
                                    </form>
                                }
                                else
                                {
                                    if (@_userManager.GetUserAsync(User).Result != null)
                                    {
                                        @if (@evento.IsPrivate == false)
                                        {
                                            <form method="post" asp-action="EntrarEvento">
                                                <input name="userId" hidden value="@_userManager.GetUserAsync(User).Result.Id" />
                                                <input name="eventoId" hidden value="@evento.Id" />
                                                <button type="submit" class="btn btn-info botao meio" style="border: none;">Juntar Evento</button>
                                            </form>

                                            flagIsAdmin = false;
                                        }
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
                flag = false;
            }
        </tbody>
    </table>
     <div class="row" style="margin-bottom:10.10rem"></div>
</body>

@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json"
            }
        } );
    } );
</script>

}
</html>