﻿@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Deseja mesmo eliminar a sua conta?";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeeMeet</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .container {
        max-width: 95%;
    }


    .main-body {
        padding: 15px;
    }

    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

</style>

<h3>@ViewData["Title"]</h3>

<br>
<body>
    <div class="container">
        <div class="center">
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>Depois de eliminar a sua conta, não poderá voltar atrás</strong>
                </p>
            </div>
            <form id="delete-user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.RequirePassword)
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                }
                <br>
                <button class="btn btn-lg btn-danger" type="submit">Apagar Conta</button>
            </form>
        </div>
    </div>


</body>

</html>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}