﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/imagens/iconLogo.png" />
</head>



<style>
    .border-top {
        background-color: #426CB4;
    }

    .left {
        float: left;
        color: white;
        font-size: 22px;
        margin-left: 40px;
        margin-bottom: 5px;
    }

    .right {
        float: right;
        color: white;
        font-size: 22px;
        margin-right: 40px;
        margin-bottom: 5px;
    }

    .colornav {
        background-color: #426CB4;
    }

    .botaonav {
        background-color: #426CB4;
        color: white;
    }

    .botaologout {
        background-color: #426CB4;
    }

    .nav-item:hover {
        background-color: #084d6e;
        border-radius: 5px;
    }

    .botaologout:hover {
        background-color: #084d6e;
        border-radius: 5px;
    }

    .noHover {
        pointer-events: none !important;
    }

    @@media screen and (max-width: 400px) {
        footer {
            max-width: 100%;
        }
    }


</style>

<body>
    <header>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-md navbar-dark fixed-top colornav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/imagens/logoFooterBranco.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto mb-2 mb-md-0 p-2 bd-highlight">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Evento" asp-action="InicialEventos">Início</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @* <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Mapa" asp-action="Mapa">Mapa</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@

                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="" asp-action="">Social</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Utilizador" asp-action="VerUtilizadores">Ver Utilizadores</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Social" asp-action="PaginaSocial">Social Feed</a>
                            </div>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="" asp-action="">Eventos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Evento" asp-action="VerEvento">Ver Eventos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Evento" asp-action="CriarEvento">Criar Evento</a>
                            </div>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="" asp-action="">Perfil</a>
                            @*<a class="nav-link active" asp-area="Identity" asp-page="/Account/Profile">Perfil</a>*@
                            <div class="dropdown-menu">
                                <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Profile" title="Manage">Ver Perfil</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Evento" asp-action="HistConqEvento">Ver Historico Eventos</a>

                            </div>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        @*                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="" asp-action="">Sobre</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="" asp-action="">Contactos</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Utilizador" asp-action="AvaliacoesAppUtilizador">Avaliar App</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="" asp-action="">Estatisticas</a>
                            <div class="dropdown-menu">
                                @if (@UserManager.GetUserAsync(User).Result.isAdmin)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Estatistica" asp-action="VerEstatistica">Estatisticas Aplicação</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Estatistica" asp-action="EstatisticasUtilizador">Estatisticas Utilizador</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Estatistica" asp-action="EstatisticasUtilizador">Estatisticas Utilizador</a>
                                }
                            </div>
                        </li>
                        @*  <li class="nav-item">
                            <a class="nav-link active" asp-controller="Administrador" asp-action="InicioAdmin">Inicio Admin</a>
                            </li>*@&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @if (@UserManager.GetUserAsync(User).Result.isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Administrador" asp-action="GerirAdmin">Gerir Perfis</a>
                            </li>

                        }
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-item">
                                <a id="manage" class="nav-link active" asp-area="Identity" asp-page="/Account/Profile" title="Manage">@UserManager.GetUserAsync(User).Result.Name</a>
                            </li>
                            <li class="nav-item noHover" style="padding-left:25px;"></li>
                            <form id="logoutForm" class="nav-link active botaologout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <li class="nav-item">
                                <button id="logout" type="submit" class="btn" style="color:white; line-height: 0px; height:100%;">Logout</button>
                            </li>
                            </form>
                        }

                    </ul>
                    @*                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

                        </form>*@
                </div>
            </div>
            <br>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-md navbar-dark fixed-top colornav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/imagens/logoFooterBranco.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto mb-2 mb-md-0 p-2 bd-highlight">
                        <li class="nav-item">
                            <a class="nav-link active" id="register" asp-area="Identity" asp-page="/Account/Register">Registar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    <br>
    <br>
    <br>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*
        <footer class="border-top footer text-muted">

        <div class="left"><img src="~/imagens/logoFooterBranco.png" /> &copy; WeMeet - 2021</div>

        <div class="right"><a asp-controller="Home" asp-action="Privacy" style="color:white">FAQ</a></div>

        </footer>*@

    <footer class="text-center text-lg-start text-white" style="background-color: #426CB4;">
        <div class="container p-4 pb-0">
            <section class="">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            WeMeet
                        </h6>
                        <p>
                            Pratique atividades e conheça pessoas novas com a nossa aplicação.
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Atalhos
                        </h6>
                        <p>
                            <a class="text-white" asp-area="Identity" asp-page="/Account/Profile">Perfil</a>
                        
                        </p>
                        <p>
                            <a class="text-white" asp-controller="Evento" asp-action="VerEvento">Eventos</a>
                        
                        </p>
                        <p>
                            <a class="text-white" asp-controller="Utilizador" asp-action="AvaliacoesAppUtilizador">Avaliar App</a>
                       
                        </p>
                        <p>
                            <a class="text-white" asp-controller="Estatistica" asp-action="EstatisticasUtilizador">Estatisticas</a>
                
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contactos</h6>
                        <p><i class="fas fa-home mr-3"></i>Portugal</p>
                        <p><i class="fas fa-envelope mr-3"></i> wemeet@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i>912 345 678</p>
                    </div>
                </div>
            </section>
            <hr class="my-3">

            <section class="">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        © 2022 Copyright:
                        <a class="text-white">WeMeet</a>
                    </div>
                

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <a class="text-white" style="text-align:center"><img src="~/imagens/logoFooterBranco.png" /></a>
                    </div>
         
                    <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
                        <a class="btn btn-floating m-1" class="text-white" style="border-radius: 5rem;">
                            <i class="fab fa-facebook" style="color:white; border-radius: 50%; border: 1px solid white; padding: 10px;"></i>
                        </a>
                        <a class="btn btn-floating m-1" class="text-white" style="border-radius: 5rem;">
                            <i class="fab fa-twitter" style="color:white; border-radius: 50%; border: 1px solid white; padding: 10px;"></i>
                        </a>

                        <a class="btn btn-floating m-1" class="text-white" style="border-radius: 5rem;">
                            <i class="fab fa-instagram" style="color:white; border-radius: 50%; border: 1px solid white; padding: 10px;"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
