﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Data
@model WebApplication1.Areas.Identity.Data.User
@inject WebApplication1Context _context
@{
    ViewData["Title"] = "User Partial";
    var conquistas = _context.ConquistasUser.Where(c => c.UserId.Equals(@Model.Id)).ToList();
}
<html>

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .cartao {
        background-color: #e2e8f0;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        background-color: #084d6e;
        color: white;
    }

    .breadcrumb {
        font-size: 25px;
        text-align: center;
    }

    .meio {
        margin: auto;
        background-color: #084d6e;
        color: white;
    }


</style>
<div class="d-flex flex-column align-items-center text-center">
    <img src="/uploads/@Model.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Foto Perfil" class="rounded-circle" style="width:150px; height:150px; object-fit:cover;" width="150">
    <div class="mt-3">
        <h4>@Model.Name</h4>
        <p class="text-secondary mb-1">
            <img src="~/imagens/map.png" width="15" />@Model.Country
        </p>
        <p class="text-secondary mb-1">@Model.Age anos</p>
        <p class="text-secondary mb-1">Hobbies: @Model.Hobbies</p>
        <br> <br> <br>
        <h4>Conquistas</h4>
        @* Aqui *@
        @foreach (var conq in @conquistas)
        {
            <img src="@_context.Conquistas.First(c=>c.Id==conq.ConquistId).Badge" class="rounded-circle" width="30"/>
        }
        <br> <br>
        <a asp-controller="Utilizador" asp-action="PaginaPerfilUtilizador" asp-route-id=@Model.Id class="btn btn-info meio" style="color:white">Ver Mais</a>
    </div>
</div>
</html>