﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Página em Construção</h1>
   <p>Por favor, clique em registar ou login para utilizar a aplicação.</p>

   
</div>
