/*#region GLOBAL VARIABLES */

:root {
    --link-color: #1364c4;
    --text-subtle: #5e5e5e;
    --secondary-background: #e3e3e3;
    --border: #e3e3e3;
    --table-border: #cccccc;
    --tab-height: 1.5rem;
}

/*#endregion GLOBAL VARIABLES */


/*#region Common */
* {
    box-sizing: border-box;
}

body {
    font: 1.0em 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    /*font-size: 13px;*/
    margin: 0;
    color: #000;
    font-style: normal;
    padding-right: 0;
    padding-left: 0;
    word-wrap: break-word;
    line-height: 160%;
}

hr {
    border: 1px #e5e5e5 solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-left: 4px;
    color: #e5e5e5;
}

p {
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    line-height: 1.3;
    font-size: 2.5rem;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 0;
}

/*#endregion Common */


/*#region Responsive design */

@media print,screen and (min-width:860px) {

    div#mainSection {
        max-width: calc(100% - 48px);
        width: calc(100% - 48px);
    }
}

@media only screen and (min-width:860px) and (max-width:1083px) {

    #header-top-container1, #header-top-container2 {
        padding-left: 24px;
        padding-right: 24px;
    }

    #header-breadcrumbs {
        padding-left: 24px;
        padding-right: 24px;
    }

    #footer-container {
        padding-left: 24px;
        padding-right: 24px;
    }

}


@media print,screen and (min-width:1084px) {

    #header-top-container1, #header-top-container2 {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    #header-breadcrumbs {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    #footer-container {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    div#mainSection {
        max-width: calc(100% - 10vw);
        width: calc(100% - 10vw);
        margin-right: auto;
        margin-left: auto;
    }
}


@media print,screen and (min-width:1795px) {

    #header-top-container1, #header-top-container2 {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    #header-breadcrumbs {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    #footer-container {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    div#mainSection {
        margin-right: auto;
        margin-left: auto;
        max-width: 1600px;
        width: 1600px;
    }
}


@media print, screen and (min-width:768px) {
    div#toc-area {
        width: 33%;
    }

    #internal-toc-area {
        width: 17%;
    }
}


@media screen and (min-width:1088px) {
    div#toc-area {
        width: 25%;
    }

    #internal-toc-area {
        width: 15%;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:1.25) and (max-width:767.9px),screen and (max-width:767px),screen and (min-resolution:120dpi) and (max-width:767.9px) {
    div#toc-area {
        display: none;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:1.25) and (max-width:1087.9px),screen and (min-resolution:120dpi) and (max-width:1087.9px),screen and (max-width:1087px) {
    #internal-toc-area {
        display: none !important;
    }
}


/*#endregion Responsive design */



div#topic {
    padding: 0px;
}

div#mainSection {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

/*#region TOC */

div#toc-area {
    /*flex: 25%;*/
    flex: none;
    /*width: 25%;*/
    order: -1;
    padding: 10px;
}

div#toc-container {
    padding: 1rem 1rem 1rem 0;
}

/*#endregion TOC end */


/*#region Internal TOC */

div#internal-toc-area {
    order: 2;
    /*flex: 0 0 15%;*/
    flex: none;
    width: 15%;
    padding: 10px;
    padding-top: 0px;
}

/*#endregion Internal TOC end */


.full-height {
    max-height: 100vh;
    overflow-y: auto;
}

.stickthis {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

div#mainBody {
    order: 1;
    flex: auto;
    /*flex: none;*/
    width: 60%;
    margin-top: 10px;
    padding: 1.5rem;
}

div#mainBody p, div#mainBody ol, div#mainBody ul, div#mainBody dl {
    padding-right: 5px;
}


/*#region HEADER */

div#header {
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

div#header hr {
    margin: 0;
}

div#runningHeaderText {
    flex-grow: 0;
    color: #000;
    font-size: 150%;
    margin-left: 17px;
    padding-top: 2px;
}

#header .title {
    font-size: 2.769em;
    font-weight: normal;
    font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    color: #000;
    margin: 0 0 10px 0;
}

#headerLinks {
    color: #0000ff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 90%;
}

#header-top-container {
    background-color: var(--secondary-background);
}

#header-top-parent-container1 {
    display: none;  /* by default, the top header 1 (with logo and links) is not visible */
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}

#header-top-container1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .875rem;
}

div#runningHeaderText1 {
    flex-grow: 0;
    color: #000;
    margin-left: 17px;
    padding-top: 2px;
}

#headerLogo {
    /*background: url("YOUR_LOGO_IMAGE_URL") no-repeat left top;*/
    display: block;
    margin: 0 0;
    text-indent: -9999px;
    height: 1px; /* height of the image */
    width: 1px; /* width of the image */
}

#runningHeaderText1b {
    flex-grow: 1;
    padding-left: 5rem;
    font-size: .8rem;
    text-align: right;
}

#runningHeaderText1b a, #runningHeaderText1b a:visited {
    color: #222222;
    text-decoration: underline;
}

#header-top-container2 {
    display: flex;
    align-items: stretch;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/*#region SEARCH BAR */

#search-bar-container {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    padding-left: 5rem;
    font-size: .875rem;
}


#search-bar-container button {
    border: 0;
    padding: 0 6px 0 6px;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
}


form#search-bar {
    flex-grow: 1;
    position: relative;
    max-height: calc(10px + 0.875rem);  /*don't change height of the header when search box is displayed*/
}

button#btn-search {
    position: absolute;
    right: 0px;
    z-index: 3;
    padding-right: 28px;
    margin-top: 10px;
    background: url(search_16.png) no-repeat right 6px center;
}

#cancel-search {
    flex-grow: 0;
    display: none;
}

.search-focused button#btn-search {
    width: 28px;
    height: 1rem;
}

.search-focused button#btn-search span {
    display: none;
}

.search-focused button#cancel-search {
    display: block;
}


input[type="search"] {
    background: rgba(255,255,255,.2);
    border: 1px solid;
    border-color: rgba(0,0,0,.4);
    height: 36px;
    float: left;
}

input#HeaderSearchInput {
    width: 100%;
    box-sizing: border-box;
    padding-right: 38px;
    padding-left: 16px;
    float: left;
    overflow: visible;
    display: none;
}

.search-focused input#HeaderSearchInput {
    display: block;
}

/*#endregion SEARCH BAR*/


/*#region Search results */

#search-results-section {
    padding: 0 30px 0 50px;
}

#search-results-section h1 {
    font-size: 1.5rem;
}

.search-result-item {
    margin-top: 1.5rem;
    position: relative;
}

.search-result-title {
    font-weight: 600;
    font-size: 1.1rem;
    padding-left: 50px;
}

.search-result-summary {
    font-size: 0.875rem;
    padding-left: 50px;
}

#search-results-pagination {
    display: none;
    margin: 20px 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid var(--border);
    font-weight: 600;
}

#search-results-pagination.visible {
    display: block;
}

a#search-pagination-all {
    display: inline-block;
    margin-left: 10rem;
}

/* auto-numbering */
#search-results-container {
    counter-reset: search-results-counter;
}

.search-result-item::before {
    content: counter(search-results-counter) ".";
    counter-increment: search-results-counter;
    position: absolute;
    left: 0;
    top: 0;
    /*font-size: 1.1rem;*/
    color: #888;
}

/*#endregion Search results */


#header-breadcrumbs ul {
    padding: .25rem 0;
    list-style-type: none;
    font-size: .875rem;
    justify-content: flex-end;
    width: auto;
}

#header-breadcrumbs ul > li {
    display: none;
    margin: 0px;
}

#header-breadcrumbs ul > li::after, #header-breadcrumbs ul > li::before {
    display: inline-block;
    margin: 0 6px;
    color: rgba(0, 0, 0, 0.3);
}

@media print,screen and (min-width:768px) {
    #header-breadcrumbs ul > li:not(:last-of-type)::after {
        content: "/";
    }

    #header-breadcrumbs ul > li {
        display: inline-block;
    }

    /* A placeholder that sets the final height, when the breadcrumbs are not loaded yet.
        This is to prevent the rendered content from jumping up and down when breadcrumbs are displayed.
    */
    #header-breadcrumbs:empty::before {
        content: "\00a0";
        display: inline-block; /*from rule #header-breadcrumbs ul > li  */
        padding: .25rem 0; /*from rule #header-breadcrumbs ul  */
        font-size: .875rem; /*from rule #header-breadcrumbs ul  */
    }

}

/*#endregion HEADER end */


.metadata {
    color: var(--text-subtle);
    font-size: .875rem;
    margin-bottom: 24px;
}

/*#region SECTION */

div.section_container div.section_heading a {
    background: url(expanded.png) no-repeat scroll 0px 14px;
    padding-left: 15px;
    text-decoration: none;
    outline: none;
    /*color: #3f529c;*/
    color: #000;
}

div.section_container.collapsed div.section_heading a {
    background: url(collapsed.png) no-repeat scroll 0px 11px;
    padding-left: 13px;
}

div.section {
    clear: both;
    margin-left: 0px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
}

div.section_container.collapsed div.section {
    display: none;
}

div.section_heading {
    margin-top: 32px;
    margin-bottom: 14px;
}

div.section_heading span {
    font-size: 1.75rem;
    line-height: 1.3em;
    margin-bottom: 12px;
    font-family: 'Segoe UI Semibold','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    color: #000;
    float: left;
}


div.section_heading div {
    padding-top: 12px;
}


#mainBody #syntaxSection p {
    margin-top: 2px;
    /* padding-bottom: 0px; */
}

/*#endregion SECTION */

div#footer {
    font-size: .875rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5px;
    padding-right: 2px;
    background-color: var(--secondary-background);
}

.subHeading {
    font-size: 1rem;
    margin-top: 36px;
    margin-bottom: 6px;
}


/*#region Tables in main text */

div#mainSection table {
    font-size: .875rem;
    border: 1px var(--table-border) solid;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-collapse: collapse;
}

div#mainSection table tr {
    vertical-align: top;
}

div#mainSection table th {
    border: 1px var(--table-border) solid;
    background-color: var(--secondary-background);
    padding: 4px;
    text-align: left;
    /*height: 21px;*/
    font-family: 'Segoe UI',Verdana,Arial;
    font-size: 1rem;
    color: #000000;
    font-style: normal;
    font-weight: normal;
}

div#mainSection table td {
    border: 1px var(--table-border) solid;
    background-color: #ffffff;
    line-height: 140%;
    padding: 4px;
    margin: 1px;
}

div#mainSection td > p:first-child, div#mainSection th > p:first-child {
    margin-top: 0rem;
}

/* members list table, no vertical borders*/
div#mainSection table td.imageCell {
    white-space: nowrap;
}

div#mainSection table.memberListTable {
    border-top: 0px var(--border) none;
    border-bottom: 1px var(--border) solid;
    border-left: 0px var(--border) none;
    border-right: 0px var(--border) none;
}

div#mainSection table.memberListTable th {
    background-color: transparent;
    padding: 0.7rem 0.7rem 0.7rem 0;
    border-top: 0px var(--border) none;
    border-bottom: 1px var(--border) solid;
    border-left: 0px var(--border) none;
    border-right: 0px var(--border) none;
}

div #mainSection table.memberListTable td {
    padding: 0.7rem 0.7rem 0.7rem 0;
    border-top: 1px var(--border) solid;
    border-bottom: 1px var(--border) solid;
    border-left: 0px var(--border) none;
    border-right: 0px var(--border) none;
}

table.memberListTable tr th:first-child, table.memberListTable tr td:first-child { /*icon column*/
    width: 50px;
    /* set display: none, if you want to hide the icons */
    /*display: none;*/
}

table.memberListTable.enumItemsListTable tr th:first-child, table.memberListTable.enumItemsListTable tr td:first-child { /*icon column*/
    /* set display: none, if you want to hide the icons */
    display: none;
}


/*#endregion */


span.parameter {
}

/* images */
span.img-container {
    display: inline-block;
    /* To make the image a block element with a horizontal scrollbar if needed, use the following:*/
    /*display: block;
    overflow: auto;*/
}




/* diagrams */
.class-diagram img {
    border: none;
}


/*#region Code snippets */
.codeSnippetContainer {
    margin-top: 1rem;
}

.codeSnippetTabs {
    width: auto;
    height: var(--tab-height);
    padding: 0px;
    border: 0px #ffffff none;
    font-size: .8rem;
}

.codeSnippetTab {
    height: var(--tab-height);
    float: left;
    width: auto;
    border-top: 1px solid var(--border);
    border-bottom: 0px none var(--border);
    border-left: 1px solid var(--border);
    padding: 0px 8px 0px 8px;
    background-color: #F2F2F2;
    /*align content to bottom*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.csFirstTab {
    border-left: 0px solid var(--border);
}

.csActiveTab {
    background-color: #ffffff;
}

.csNaTab {
    display: none;
}

.csNaTab.csActiveTab {
    display: block;
}


.codeSnippetTabLeftCorner, .codeSnippetTabLeftCornerActive {
    height: var(--tab-height);
    width: 0px; /* 6px; */
    padding: 0px;
    border-top: 1px solid var(--border);
    border-bottom: 0px none var(--border);
    border-left: 1px solid var(--border);
    border-right: 0px #ffffff none;
    float: left;
}

.codeSnippetTabRightCorner, .codeSnippetTabRightCornerActive {
    height: var(--tab-height);
    width: 0px; /* 6px; */
    padding: 0px;
    border-top: 1px solid var(--border);
    border-bottom: 0px none var(--border);
    border-right: 1px solid var(--border);
    border-left: 0px #ffffff none;
    float: left;
}

.codeSnippetTabs a {
    /*font-weight: bold;*/
}

.codeSnippetTabs .csNaTab a {
    /*font-weight: normal;*/
}

.codeSnippetTabs a, .codeSnippetTabs a:link, .codeSnippetTabs a:visited, .codeSnippetTabs a:active {
    color: #34547a;
    text-decoration: none;
}

.codeSnippetTabs a:hover {
    color: #888888;
}

.codeSnippetTabs .csActiveTab a {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.codeSnippetCodeCollection {
    border-top: solid 1px var(--border);
    border-right: solid 1px var(--border);
    border-bottom: solid 1px var(--border);
    border-left: solid 1px var(--border);
    margin-bottom: 12px;
    /*position: relative;
	top: -3px;*/
}

.codeSnippetToolbar {
    float: right;
    top: calc(var(--tab-height) * -1);
    position: relative;
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    width: auto;
    height: 0;
    font-size: .8rem;
}

.codeSnippetToolbar a, .codeSnippetToolbar a:link, .codeSnippetToolbar a:visited, .codeSnippetToolbar a:active {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-family: 'Segoe UI',Verdana,Arial;
    padding-left: 4px;
    padding-right: 4px;
}

.codeSnippetToolbar a:hover {
    color: #e66a38;
}

.codeSnippetCode {
    padding: 16px;
    margin: 0px;
    background-color: #FAFAFA;
}

monospace, code, kbd, pre, samp {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif !important;
}


/* override Syntaxhighlighter font size */
code, pre {
    font-size: .875rem;
}

.codeSnippetContainer .syntaxhighlighter,
.codeSnippetContainer .syntaxhighlighter div,
.codeSnippetContainer .syntaxhighlighter code,
.codeSnippetContainer .syntaxhighlighter table,
.codeSnippetContainer .syntaxhighlighter table td,
.codeSnippetContainer .syntaxhighlighter table tr,
.codeSnippetContainer .syntaxhighlighter table tbody {
    font-size: .875rem !important;
}



/*not used input fact, overridden by highlighter*/
.codeSnippetCode pre {
    padding: 5px;
    margin: 0px;
    font-family: Consolas,Courier,monospace;
    font-style: normal;
    font-weight: normal;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
}


/*#endregion Code snippets */



/*#region MSDN-like formatting */


dl {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 1px;
}


dd {
    margin-left: 0px;
    padding-left: 2em;
}

dl.parameterList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

dl.parameterList dt {
    display: inline-block;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-weight: 600;
    padding: 0 6px 2px;
}

dl.parameterList dd {
    margin-left: 12px;
    padding-left: 0em;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 17px;
    list-style-type: disc;
}

ul ul {
    margin-bottom: 4px;
    margin-left: 17px;
    margin-top: 3px;
    list-style-type: disc;
}

ol {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 28px;
    list-style-type: decimal;
}

ol ol {
    margin-bottom: 4px;
    margin-left: 28px;
    margin-top: 3px;
    list-style-type: lower-alpha;
}

li {
    margin-top: -2px;
    margin-bottom: 3px;
}


dd p {
    margin-top: 4px;
    margin-bottom: 4px;
}

div.tableSection p {
    margin-top: 1px;
    margin-bottom: 4px;
}

li p {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.section dl {
    margin-top: 24px;
    margin-bottom: 1px;
    padding-left: 1px;
}

div.section .subHeading + dl { /* e.g. the first parameter description */
    margin-top: 8px;
}

div.section dd p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#mainBody p, #mainBody ol, #mainBody ul {
    margin-top: 1rem;
}

/*#endregion */
