﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@model IEnumerable<User>
@inject UserManager<User> _userManager;
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />

</head>

<style>

    body {
        background-color: #e2e8f0 !important;
    }

    .container {
        max-width: 80%;
    }

    td {
        text-align: center;
    }

    tr {
        text-align: center;
    }

    th {
        text-align: center;
    }

    .border {
        border: 1px solid;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #426CB4;
        border-color: #0d6efd;
    }

    .page-item.disabled .page-link {
        color: #426CB4;
        pointer-events: none;
        background-color: #fff;
        border-color: #dee2e6;
    }

    

</style>

<body>

    @if (@_userManager.GetUserAsync(User).Result.isAdmin)
    {
        @if (TempData["ErroAdmin"] != null)
        {
            <div class="alert alert-danger">
                <strong>Erro!</strong> Não foi possível concluir a ação
            </div>
        }
        @if (TempData["SuccessoAdmin"] != null)
        {
            <div class="alert alert-success">
                <strong>Successo!</strong> Estado do utilizador alterado com sucesso
            </div>
        }
        @if (TempData["ErroSuspender"] != null)
        {
            <div class="alert alert-danger">
                <strong>Erro!</strong> Não foi possivel realizar esta operação
            </div>
        }
        @if (TempData["SuccessoSuspender"] != null)
        {
            <div class="alert alert-success">
                <strong>Successo!</strong> Estado de conta alterado com sucesso
            </div>
        }
        <br>
        <div class="text-center">
            <h1 class="display-4">Gerir Perfis</h1>
        </div>
        <hr>
        <br>
        <table id="example" class="table table-striped border" style="background-color:white; border: 1px solid black; border-radius:8px; padding:10px; width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Admin?</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>

                            @{
                                if (@user.isActive)
                                {
                                    <td>Ativo</td>
                                }
                                else
                                {
                                    <td>Desativada</td>
                                }
                            }
                            @{
                                if (@user.isAdmin)
                                {
                                    <td>Admin</td>
                                }
                                else
                                {
                                    <td>Normal</td>
                                }
                            }
                            <td>
                                <form method="post" asp-action="GerirAdmin" asp-route-id="">
                                    <input name="teste" hidden value="@user.Email" />
                                    @{
                                        if (!@user.isActive)
                                        {
                                            <button type="submit" class="btn btn-primary right">Restaurar</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-warning right">Suspender</button>
                                        }
                                    }

                                </form>
                                <form method="post" asp-action="isAdmin" asp-route-id="">

                                    <input name="admin" hidden value="@user.Email" />
                                    @{
                                        if (!@user.isAdmin)
                                        {
                                            <button type="submit" class="btn btn-primary right">Tornar Admin</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-danger right">Remover Admin</button>
                                        }
                                    }

                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row" style="margin-bottom:7.65rem"></div>
        }
        else
        {
            <h5>Acesso restrito a admins</h5>
        }

    </div>
</body>




@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>


<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json"
            }
        } );
    } );

</script>
}



</html>
