﻿@page 
@model WebApplication1.Views.Administrador.InicioAdminModel 
@{ 
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />

  </head>
  <style>
/*    .card {

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      margin: 0 auto;
      float: none;
      margin-bottom: 10px;
    }

    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .cardpadding{
        margin-left: 15px;
    }

    .cardevento{
        background-color: #084d6e;


    }*/


  </style>
  <body>

      <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
             <a href="#" class="btn btn-success">Entrar</a>
             <a href="#" class="btn btn-info">Detalhes</a>
             <a href="#" class="btn btn-danger">Sair</a>     
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

   @* <div class="container">
      <div class="main-body">


      </div>
    </div>
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
        <div class="row gutters-sm">
          <div class="container-fluid" style="padding-top: 50px;">
            <div class="card">
              <div class="card-header text-left " style="font-family: Sans-Serif; text-transform:uppercase; font-size:1.5rem"> Eventos </div>
              <div class="container-fluid" style="padding-top: 50px;">
              
                    <div class="row">

                      <div class="card border border-dark cardcolor" style="width: 18rem;">
                        <img src="~/imagens/logoFooter.png" class="card-img-top" alt="..."/>
                        <div class="card-body cardevento">
                          <h6 class="card-title ">Nome Evento</h6>
                          <a href="#" class="btn btn-success">Entrar</a>
                          <a href="#" class="btn btn-info">Detalhes</a>
                          <a href="#" class="btn btn-danger">Sair</a>
                        </div>
                      </div>

                      

                      <div class="card border border-dark cardpadding" style="width: 18rem;">
                        <img src="~/imagens/logoFooter.png" class="card-img-top" alt="..." />
                        <div class="card-body cardevento">
                          <h6 class="card-title ">Nome Evento</h6>
                          <a href="#" class="btn btn-success">Entrar</a>
                          <a href="#" class="btn btn-info">Detalhes</a>
                          <a href="#" class="btn btn-danger">Sair</a>
                        </div>
                      </div>
                  
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
           <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>John Doe</h4>
                    <p class="text-secondary mb-1">Full Stack Developer</p>
                    <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                    <button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-primary">Message</button>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>*@

  </body>
</html>