﻿@page
@model WebApplication1.Areas.Identity.Pages.Account.EditProfileModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "EditProfile";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .container {
        max-width: 95%;
    }


    .main-body {
        padding: 15px;
    }

        .form-control:focus {
        box-shadow: none;
        border-color: #084d6e
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #084d6e
        }

        .profile-button:focus {
            background: #084d6e;
            box-shadow: none
        }

        .profile-button:active {
            background: #084d6e;
            box-shadow: none
        }

    .back:hover {
        color: #084d6e;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #084d6e;
        color: #fff;
        cursor: pointer;
        border: solid 1px #084d6e
    }

    .cartao {
        background-color: white;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .botaogaurdar {
        background-color: #084d6e;
        color: white;
        width: 250px;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #084d6e;
        color: white;
        width: 250px;
    }

    .hidden {
        display: none;
    }
   


    .noHover {
        pointer-events: none !important;
    }


    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }

</style>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    @if (TempData["SuccessoEditar"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Perfil editado com sucesso
        </div>
    }
    <div class="container">
        <br>
        <span class="hovertext" data-hover="Encontra-se na página de edição de perfil. Aqui pode editar os seus dados, para isso basta alterar a informação que se encontra nas caixas de texto, pode definir o seu perfil como privado, e pode alterar a sua palavra-passe. Também é possível escolher uma foto de perfil, para isso basta clicar em 'Carregar Foto', e selecionar uma foto à sua escolha, no fim so tem de clicar em 'Guardar Alterações', e as suas informações serão guardadas. ">
            <img src="~/imagens/help-web-button.png" width="35" />
        </span>
        <div class="text-center">
            <h1 class="display-4">Editar Perfil</h1>
        </div>
        <hr>
    </div>
    <form name="editarperfil" id="editarperfil" class="container rounded mt-5 mb-5 cartao" method="post" enctype="multipart/form-data" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img id="imagem" src="/uploads/@Model.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="150" height="150">
                    <h4>@UserManager.GetUserAsync(User).Result.Name</h4>
                    <p class="text-secondary mb-1"><img src="~/imagens/map.png" width="15" /> @UserManager.GetUserAsync(User).Result.Country</p>
                    <br>
                    <label class="btn btn-info botaogaurdar">
                        <input type="file" name="file" onchange="document.getElementById('imagem').src = window.URL.createObjectURL(this.files[0])" />
                        Carregar Foto
                    </label>
                    @*<div class="mt-5 text-center">
                        <button class="btn btn-info botao" type="file" >Carregar Foto</button>
                        </div>*@
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Dados Perfil</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">
                                <h6>Nome</h6>
                            </label>
                            <input class="form-control" placeholder="@UserManager.GetUserAsync(User).Result.Name" asp-for="Input.Name">
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">
                                <h6>Número de Telemóvel</h6>
                            </label>
                            <input class="form-control" placeholder="Telemovel" asp-for="Input.PhoneNumber">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                      
                        </div>
                        <div class="col-md-12">
                            <label class="labels">
                                <h6> Morada </h6>
                            </label>
                            <input class="form-control" placeholder="@UserManager.GetUserAsync(User).Result.Address" asp-for="Input.Address">
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">
                                <h6>Email</h6>
                            </label>
                            <input asp-for="Input.NewEmail" class="form-control" placeholder="@UserManager.GetUserName(User)">
                            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels"><h6>País</h6></label>
                            <select class="form-select" aria-label="Default select example" asp-for="Input.Country">
                                <option selected>Escolha o seu País</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Espanha">Espanha</option>
                                <option value="França">França</option>
                                <option value="Alemanha">Alemanha</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="labels"><h6>Hobbies</h6></label>
                            <select class="form-select" aria-label="Default select example" asp-for="Input.Hobbies">
                                <option selected value="Futebol">Futebol</option>
                                <option value="Video Jogos">Video Jogos</option>
                                <option value="Basket">Basket</option>
                                <option value="Jogging">Jogging</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Privacidade</h4>
                    </div>
                    <div class="col-md-6">
                        <label class="labels"><h6>Perfil Privado</h6></label>
                        <select class="form-select" aria-label="Default select example" asp-for="Input.isPrivate">
                            <option selected value="false">Não</option>
                            <option value="true">Sim</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">
                            <h6>Password</h6>
                        </label>
                        <input asp-for="Input.OldPassword" aria-required="true" class="form-control" placeholder="Password">
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">
                            <h6>Nova Password</h6>
                        </label>
                        <input asp-for="Input.NewPassword" class="form-control" aria-required="true" placeholder="Nova Password">
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">
                            <h6>Confirmar Nova Password</h6>
                        </label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="Nova Password">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="mt-5 text-center">
                        @*<button id="btn" class="btn btn-info botaogaurdar" type="submit">Guardar Alterações</button>*@
                        <button class="btn btn-info botaogaurdar" type="submit">Guardar Alterações</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>

</html>