﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = null;
}

<header>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">

    <style>
    #body {
        font-family: 'Nunito';
    }

    #login-card {
        width: 350px;
        border-radius: 25px;
        margin: 150px auto;
        margin-top: 50px;
        background-color: #D1E3EC;
    }

    #email {
        border-radius: 30px;
        background-color: #ebf0fc;
        border-color: #ebf0fc;
        color: #9da3b0;
    }

    #button {
        border-radius: 30px;
    }

    #btn {
        position: absolute;
        bottom: -35px;
        padding: 5px;
        margin: 0px 55px;
        align-items: center;
        border-radius: 5px
    }

    #container {
        margin-top: 25px;
    }

    .btn-circle.btn-sm {
        width: 35px;
        height: 35px;
        padding: 2px 0px;
        border-radius: 25px;
        font-size: 14px;
        text-align: center;
        margin: 8px;
    }

    #loginSubmit {
        border-radius: 30px;
        background-color: white;
        color: #38596E;
        border-color: white;
        font-weight: bold;
    }

    #container {
        margin-top: 25px;
    }

    .form-control {
        border: 2px solid;
        border-radius: 30px;
        padding: 8px;
        text-align: center;
    }

    .img-container {
        text-align: center;
    }

    #href-container {
        text-align: center;
        border-color: black;
    }

</style>

<body id="body">
    <div class="img-container">
        <img src="~/imagens/wemeetLogo.png" width="310" height="155" alt="Logo Site">
    </div>
    <div id="login-card" class="card">
        <h1 style = "text-align:center;"class="text-danger">@ViewData["Title"]</h1>
        <div class="card-body">
        <p class="text-danger">A sua conta foi suspensa, contacte o admin - admin@gmail.com - para mais informações.</p>
        </div>
    </div>
</body>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

