﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
</head>



<style>
    #body {
        font-family: 'Nunito';
    }

    .text-center {
        text-align: left !important;
    }

    @@media screen and (max-width: 600px) {
        .text-center {
            text-align: center !important;
        }

        .container {
            max-width: 95%;
        }
    }

    #login-card {
        width: 350px;
        border-radius: 25px;
        margin: 150px auto;
        margin-top: 50px;
        background-color: #D1E3EC;
    }

    #email {
        border-radius: 30px;
        background-color: #ebf0fc;
        border-color: #ebf0fc;
        color: #9da3b0;
    }

    #button {
        border-radius: 30px;
    }

    #btn {
        position: absolute;
        bottom: -35px;
        padding: 5px;
        margin: 0px 55px;
        align-items: center;
        border-radius: 5px
    }

    #container {
        margin-top: 25px;
    }

    .btn-circle.btn-sm {
        width: 35px;
        height: 35px;
        padding: 2px 0px;
        border-radius: 25px;
        font-size: 14px;
        text-align: center;
        margin: 8px;
    }

    #loginSubmit {
        border-radius: 30px;
        background-color: white;
        color: #38596E;
        border-color: white;
        font-weight: bold;
    }

    #container {
        margin-top: 25px;
    }

    .form-control {
        border: 2px solid;
        border-radius: 30px;
        padding: 8px;
        text-align: center;
    }

    .img-container {
        text-align: center;
    }

    #href-container {
        text-align: center;
        border-color: black;
    }

    .container {
        max-width: 95%;
    }

</style>

<body>
    <div class="img-container">
        <img src="~/imagens/wemeetLogo.png" width="310" height="155" alt="Logo Site">
    </div>
    <div id="login-card" class="card">
        <h1 style="text-align:center">Bem-Vindo</h1>
        <div class="card-body">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="inputs">
                        <input asp-for="Input.Email" class="form-control" type="text" placeholder="Email" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inputs">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="action-btn">
                    <button id="loginSubmit" type="submit" class="btn btn-primary deep-purple btn-block">Iniciar</button>
                </div>
                <br>
                <div id="href-container">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registar</a>
                    </p>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Recuperar Password</a>
                    </p>
                    <p>
                        <a id="guest-user" asp-controller="Evento" asp-action="VerEvento">Entrar como Guest</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
