﻿@page
@using WebApplication1.Data
@model WebApplication1.Areas.Identity.Pages.Account.ProfileModel
@inject UserManager<User> UserManager
@inject WebApplication1Context _context

@{
    ViewData["Title"] = "Perfil";
    var followers = _context.Followers.Where(u => @UserManager.GetUserAsync(User).Result.Id.Equals(u.UserIdFollowed)).ToList();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .container {
        max-width: 95%;
    }


    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: white;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .seguidores {
        background-color: white;
        color: black;
    }

    .cortexto {
        color: #615f5f;
    }


    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }


    .noHover {
        pointer-events: none !important;
    }


    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }

</style>

<body>
    <div class="container">
        <div class="main-body">
            <span class="hovertext" data-hover="Aqui encontra-se a sua página de perfil, onde pode consultar os seus dados, como também editá-los. Se pretender deixar de utilizar a aplicação, tem oportunidade de apagar a sua conta. ">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Perfil</h1>
            </div>
            <div class="row gutters-sm" style="padding-bottom:75px;">
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/uploads/@Model.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Foto Perfil" class="rounded-circle" width="150" height="150">
                                <div class="mt-3">
                                    <h4>@UserManager.GetUserAsync(User).Result.Name</h4>
                                    <p class="text-secondary mb-1"><img src="~/imagens/map.png" width="15" /> @UserManager.GetUserAsync(User).Result.Country</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body" style="overflow: auto; height: 500px;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                    @UserManager.GetUserAsync(User).Result.Name
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Data de Nascimento</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                    @UserManager.GetUserAsync(User).Result.BirthDate.ToLongDateString()
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Idade</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">

                                    @UserManager.GetUserAsync(User).Result.Age anos
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Morada</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                    @UserManager.GetUserAsync(User).Result.Address
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telemóvel</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                    @UserManager.GetUserAsync(User).Result.PhoneNumber
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                    @UserManager.GetUserName(User)
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Hobbies</h6>
                                </div>
                                <div class="col-sm-9 text-secondary cortexto">
                                    @UserManager.GetUserAsync(User).Result.Hobbies
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info botao" asp-area="Identity" asp-page="/Account/EditProfile">Editar Dados</a>
                                    <a id="delete" asp-page="/Account/Manage/DeletePersonalData" class="btn btn-danger right">Apagar Conta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-0">Seguidores</h6>
                            <br>
                            @foreach (var f in followers)
                            {
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap seguidores">
                                        <h6 class="mb-0"><img src="/uploads/@UserManager.FindByIdAsync(f.UserIdThatFollows).Result.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="45"></h6>
                                        <span class="text-secondary">@UserManager.FindByIdAsync(f.UserIdThatFollows).Result.Name</span>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>