﻿@page
@model RegisterModel
@{
ViewData["Title"] = "";
}
<head>
   <title>Bootstrap Example</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
</head>
<style>
   #body {
   font-family: 'Nunito';
   }
    .container {
    max-width: 95%;
    }

    .text-center {
        text-align: left !important;
    }

    @@media screen and (max-width: 600px) {
        .text-center {
            text-align: center !important;
        }

        .container {
            max-width: 95%;
        }
    }
   #login-card{
       width:350px;
       border-radius: 25px;
       margin:150px auto;
       margin-top:50px;
       background-color: #D1E3EC;
   }
   #email{
       border-radius:30px;
       background-color: #ebf0fc;
       border-color: #ebf0fc;
       color: #9da3b0;
   }
   #button{
       border-radius:30px;
   }
   #btn{
       position: absolute; 
       bottom: -35px; 
       padding: 5px;
       margin: 0px 55px;
       align-items: center;
       border-radius: 5px
   }
   #container{
       margin-top:25px;
   }
   .btn-circle.btn-sm { 
       width: 40px; 
       height: 40px; 
       padding: 2px 0px; 
       border-radius: 25px; 
       font-size: 14px; 
       text-align: center;
       margin: 8px;
   }
   #registerSubmit{
       border-radius:30px;
       background-color:white;
       color:#38596E;
       border-color:white;
       font-weight: bold;
   }
   #container{
       margin-top:25px;
   }
   .form-control{
       border: 2px solid;
       border-radius: 30px;
       padding:8px;
       text-align:center;
   }
   .img-container {
       text-align:center;
   }
</style>
<h1>@ViewData["Title"]</h1>

<body id="body">
   <div class = "img-container">
      <img src="~/imagens/wemeetLogo.png" width="310" height="155" alt="Logo Site">
   </div>
   <div id="login-card" class="card">
   <div class="card-body">
      <h2 style="text-align:center">Novo Utilizador</h2>
      <br>
      <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
            <div class = "inputs">
               <input asp-for="Input.Name" class="form-control" type="text" placeholder="Nome" aria-required="true">
               <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
         </div>
         <div class="form-group">
            <div class = "inputs">
               <input id="datefield" min="1901-01-01" asp-for="Input.BirthDate" class="form-control" type="date" placeholder="Data Nascimento dd/mm/aaaa" aria-required="true">
               <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
         </div>
         <div class="form-group">
            <div class = "inputs">
               <input asp-for="Input.PhoneNumber" class="form-control" type="text" placeholder="Telemovel" aria-required="true">
               <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
         </div>
         <div class="form-group">
            <div class = "inputs">
               <input asp-for="Input.Email" class="form-control" type="text" placeholder="Email" aria-required="true">
               <span asp-validation-for="Input.Email" class="text-danger"></span>
               </div class = "inputs">
            </div>
            <div class="form-group">
               <div class = "inputs">
                  <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password" aria-required="true">
                  <span asp-validation-for="Input.Password" class="text-danger"></span>
               </div>
            </div>
            <div class="form-group">
               <div class = "inputs">
                  <input asp-for="Input.ConfirmPassword" class="form-control" type="password" placeholder="Confirmar Password" aria-required="true">
                  <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
               </div>
            </div>
            <button type="submit" id="registerSubmit" class="btn btn-primary deep-purple btn-block">Registar</button>       
      </form>
      </div>
   </div>
</body>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
        var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
       dd = '0' + dd;
    }

    if (mm < 10) {
       mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
</script>
}