﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do registo";
}

<!DOCTYPE html>
<html lang="en">
<style>
    .container{
        max-width:95%;
    }

    body {
        margin-top: 20px;
        color: #1a202c;
        background-color: #e2e8f0;
    }

    .text-center {
    text-align: left!important;
    }

@@media screen and (max-width: 600px) {
  .text-center {
    text-align: center!important;
    }
}

</style>
<body>
    <div class="row" style="margin-bottom:2rem"></div>
<h1 style="padding-left:4rem">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p style="padding-left:4rem">
        Verifique o seu email para confirmar a sua conta.
</p>
    }
}
<div class="row" style="margin-bottom:23.5rem"></div>
</body>
</html>