﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data
@using WebApplication1.Models

@inject UserManager<User> _userManager;
@inject WebApplication1Context _context;
@{
    var users = _context.Users.ToList();
    var eventos = _context.eventos.ToList();
    var usereventos = _context.UserEventos.ToList();
    var eventsOfUser = new List<EventoModel>();
    foreach (var evento in eventos)
    {
        foreach (var userevento in evento.UserEventos)
        {
            if (userevento.IsHost && @_userManager.GetUserAsync(User).Result.Id.Equals(userevento.UserId))
            {
                eventsOfUser.Add(evento);
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>

<style>
    .container {
        max-width: 95%;
    }

</style>

<body>
    <div class="container">
        <br>
        <div class="text-center">
            <h1 style="text-align:left; font-size: 2rem">Estatisticas - Utilizador</h1>
        </div>
        <hr style="height:2px;">

        <div class="row">
            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem; margin-left: -4rem;">
            </div>
            <div class="col-sm- col-lg-4" style="margin-top: 1rem;">
                <h4>Hobbies Preferidos</h4>
                <hr style="height: 2px;">
                <p>Hobbies preferidos dos utilizadores</p>
                <canvas id="bar-chart" style="display: block; box-sizing: border-box; height: 256px; width: 513px;"></canvas>
            </div>

            <div class="col-sm-0 col-md-0 col-lg-3" style="margin-top: 3rem;">
            </div>
            <div class="col-sm- col-lg-4" style="margin-top: 1rem;">
                <h4>Eventos Privados vs Eventos Públicos</h4>
                <hr style="height: 2px;">
                <p>Número de eventos privados e públicos</p>
                <canvas id="bar-chart-horizontal" style="display: block; box-sizing: border-box; height: 256px; width: 513px;"></canvas>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 8rem; margin-left: -4rem;">
            </div>
            <div class="col-sm- col-lg-4" style="margin-top: 3rem;">
                <h4>Eventos Ativos vs. Eventos Desativados</h4>
                <hr style="height: 2px;">
                <p>Número de eventos ativos e desativados</p>
                <canvas id="pie-chart" style="display: block; box-sizing: border-box; height: 256px; width: 513px;"></canvas>
            </div>


            <div class="col-sm-0 col-md-0 col-lg-3" style="margin-top: 3rem;">
            </div>

            <div class="col-sm- col-lg-4" style="margin-top: 3rem;">
                <h4>Percentagem de Eventos com limite a 100%</h4>
                <hr style="height: 2px;">
                <p>Percentagem de eventos eventos cheios</p>
                <canvas id="doughnut-chart" style="display: block; box-sizing: border-box; height: 256px; width: 513px;"></canvas>
            </div>
        </div>
       
        <div class="row" style="margin-bottom:5rem">
        </div>
    </div>


</body>


@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>





<script>
        //HOBBIES PREFERIDOS
        var Futebol = 0;
        var VideoGames = 0;
        var Basket = 0;
        var Jogging = 0;
        var Undefined = 0;
        @foreach(var user in @users){
            if(user.isActive){
                if(user.Hobbies.Equals("Futebol")){
                    @:Futebol++;
                }else if(user.Hobbies.Equals("Video Jogos")){
                    @:VideoGames++;
                }else if(user.Hobbies.Equals("Basket")){
                    @:Basket++;
                }else if(user.Hobbies.Equals("Jogging")){
                    @:Jogging++;
                }else{
                    @:Undefined++;
                }
            }
        }
            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: ["Futebol", "Video-Jogos", "Basket", "Jogging", "Undefined"],
                    datasets: [
                    {
                        label: "Utilizadores",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9", "#dddddd"],
                        //Count hobbies
                        data: [Futebol, VideoGames, Basket, Jogging, Undefined]
                    }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                    display: true,
                    text: '',
                    animation:false,
                    }
                }
            });

            //Eventos ativos e desativados
            var activeEventos = 0;
            var disabledEventos = 0;
            @foreach(var evento in @eventsOfUser){
                if(evento.isActive){
                    @:activeEventos++;
                }else{
                    @:disabledEventos++;
                }
            }
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: ["Ativos", "Desativados"],
                    datasets: [{
                    label: "Eventos Ativos vs Desativados",
                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                    //Count eventos ativos e desativados
                    data: [activeEventos, disabledEventos]
                    }]
                },
                options: {
                    title: {
                    display: true,
                    text: ''
                    }
                }
            });

            //Eventos Privados e publicos
            var privEventos = 0;
            var publicEventos = 0;
            @foreach(var evento in @eventsOfUser){
                    if(evento.isActive){
                        if(evento.IsPrivate){
                        @:privEventos++;
                    }else{
                        @:publicEventos++;
                    }
                }
            }
            new Chart(document.getElementById("bar-chart-horizontal"), {
            type: 'horizontalBar',
            data: {
                labels: ["Privados", "Públicos"],
                datasets: [
                {
                    label: "Eventos",
                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                    //count eventos privados e publicos
                    data: [privEventos, publicEventos]
                }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

            //Percentagem de Eventos com Limite Cheio
            var eventFullPercentage = 0.0;
            var eventNotFullPercentage = 0.0;
            var eventFull = 0;
            var eventNotFull = 0;
            @foreach(var evento in @eventsOfUser){
                if(evento.isActive){
                    var counter = 0;
                    foreach(var userevento in @usereventos){
                        if(evento.Id == userevento.EventoId){
                            counter++;
                        }
                    }
                    if(evento.UserLimit == counter){
                        @:eventFull++;
                    }else{
                        @:eventNotFull++;
                    }
                }
            }

            eventFullPercentage = ((eventFull/@eventsOfUser.Where(e => e.isActive).Count()) * 100);
            eventNotFullPercentage = ((eventNotFull/@eventsOfUser.Where(e => e.isActive).Count()) * 100);


            new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
              labels: ["Cheio", "Não cheio"],
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2"],
                  //count
                  data: [eventFullPercentage,eventNotFullPercentage]
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: ''
              }
            }

        });

</script>
}







</html>

