﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data

@inject UserManager<User> _userManager;
@inject WebApplication1Context _context;
@{
    ViewData["Title"] = "Estatísticas da Aplicação";
    var users = _context.Users.ToList();
    var eventos = _context.eventos.ToList();
    var avaliacoes = _context.AvaliarApp.ToList();
    var avgavalicao = 0;
    @if(avaliacoes.Count() != 0)
    {
        avgavalicao = Convert.ToInt16(avaliacoes.Average(a => a.Rate));
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<style>
    .container {
        max-width: 95%;
    }

    .rounded {
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px !important;
    }

    .mini-stat {
        padding: 15px;
        margin-bottom: 20px;
    }

    .mini-stat-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: none repeat scroll 0% 0% #EEE;
        border-radius: 100%;
        float: left;
        margin-right: 10px;
        color: #FFF;
    }

    .mini-stat-info {
        font-size: 12px;
        padding-top: 2px;
    }

    span {
        color: white;
    }

    .mini-stat-info span {
        display: block;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 7px;
    }

    .bg-facebook {
        background-color: #3b5998 !important;
        border: 1px solid #3b5998;
        color: white;
    }

    .fg-facebook {
        color: #3b5998 !important;
    }

    .container .star-widget input {
        display: none;
    }

    .star-widget label {
        color: #444;
        float: right;
        transition: all 0.2s ease;
        place-items: center;
    }

    .container .star-widgett input {
        display: none;
    }

    .star-widgett label {
        color: #444;
        float: right;
        transition: all 0.2s ease;
        place-items: center;
    }

    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label {
        color: #fd4;
    }

    input:checked ~ label {
        color: #fd4;
    }

    input#ratee-5:checked ~ label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
    }

    input#rate-5:checked ~ label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
    }

    input:checked ~ form {
        display: block;
    }

    .noHover {
        pointer-events: none !important;
    }
       .rounded-circle{
        width:50px;
        height:50px;
        object-fit:cover;
    }

</style>

<body>
    <div class="container">
        <br>
        <div class="text-left">
            <h1 style="font-size: 2rem">Estatisticas - Aplicação</h1>
        </div>
        <hr style="height:2px;">
        <br>
        <div class="row">
            <div class="text-left">
                <h3 style="font-size: 1.4rem">Estatisticas Gerais</h3>
                <hr style="height:2px;">
            </div>
            <div class="row">
                <div class="col-sm-0 col-md-0 col-lg-1" style="margin-left: -8.75rem;">
                </div>

                @*MEDIA DE ESTRELAS*@
                <div class="col-sm- col-lg-4" style="margin-top: -1rem;">
                    <div class="star-widgett noHover" style="padding-top:1rem; font-size: 22px; padding: 12px;" disabled>
                        <input @if(avgavalicao == 5){
                               @:checked
                               } type="checkbox" name="rate" value="5">
                        <label for="ratee-5" class="fas fa-star"></label>
                        <input @if(avgavalicao == 4){
                               @:checked
                               } type="checkbox" name="rate" value="4">
                        <label for="ratee-4" class="fas fa-star"></label>
                        <input @if(avgavalicao == 3){
                               @:checked
                               } type="checkbox" name="rate" value="3">
                        <label for="ratee-3" class="fas fa-star"></label>
                        <input @if(avgavalicao == 2){
                               @:checked
                               } type="checkbox" name="rate" value="2">
                        <label for="ratee-2" class="fas fa-star"></label>
                        <input @if(avgavalicao == 1){
                               @:checked
                               } type="checkbox" name="rate" value="1">
                        <label for="ratee-1" class="fas fa-star"></label>
                    </div>
                    @*MEDIA DE ESTRELAS*@
                    <canvas id="bar-chart-horizontal-star" style="display: block; box-sizing: border-box; height: 115px; width: 285px; margin-top:-1.5rem"></canvas>
                </div>

                <div class="col-sm-0 col-md-0 col-lg-4" style="margin-top: 1rem;">
                </div>

                <div class="col-sm- col-lg-2" style="margin-top: 1rem;">
                    <div class="mini-stat clearfix bg-facebook rounded">
                        <span class="mini-stat-icon"><i class="fa fa-users fg-facebook"></i></span>
                        <div class="mini-stat-info">
                            <span>@users.Where(u => u.isActive).Count()</span>
                            <h6>Utilizadores</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm- col-lg-2" style="margin-top: 1rem;">
                    <div class="mini-stat clearfix bg-facebook rounded">
                        <span class="mini-stat-icon"><i class="fa fa-calendar fg-facebook"></i></span>
                        <div class="mini-stat-info">
                            <span>@eventos.Where(e => e.isActive).Count()</span>
                            <h6>Eventos</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-0 col-md-0 col-lg-4"> </div>
        </div>
        <br>

        <div class="text-left">
            <h3 style="font-size: 1.4rem">Estatisticas</h3>
            <hr style="height:2px;">
        </div>

        <div class="row">
            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem; margin-left: -4rem;"></div>

            <div class="col-sm- col-lg-3" style="margin-top: 1rem;">
                <h4>Contagem de Idades</h4>
                <hr style="height: 2px;">
                <p>Número de idades dos utilizadores da aplicação</p>
                <canvas id="bar-chart" style="display: block; box-sizing: border-box; height: 276px; width: 533px;"></canvas>
            </div>

            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem;"></div>

            <div class="col-sm-0 col-md-0 col-lg-3" style="margin-top: 1rem;">
                <h4>Utilizadores por País</h4>
                <hr style="height: 2px;">
                <p>Número de utilizadores por país</p>
                <canvas id="doughnut-chart" style="display: block; box-sizing: border-box; height: 276px; width: 533px;"></canvas>
            </div>

            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem;"></div>

            <div class="col-sm- col-lg-3" style="margin-top: 1rem;">
                <h4>Contas Ativas vs. Contas Desativadas</h4>
                <hr style="height: 2px;">
                <p>Contas atualmente ativas e desativadas</p>
                <canvas id="pie-chart" style="display: block; box-sizing: border-box; height: 276px; width: 533px;"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem; margin-left: -4rem;"></div>

            <div class="col-sm- col-lg-3" style="margin-top: 1rem;">
                <h4>Comparação de Eventos Criados com o Ano Anterior</h4>
                <hr style="height: 2px;">
                <p>Eventos criados por mês</p>
                <canvas id="bar-chart-grouped" style="display: block; box-sizing: border-box; height: 276px; width: 533px;"></canvas>
            </div>

            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem;"></div>

            <div class="col-sm-0 col-md-0 col-lg-3" style="margin-top: 1rem;">
                <h4>Criação de contas</h4>
                <hr style="height: 2px;">
                <p>Número de criação de contas por mês</p>
                <canvas id="bar-chart-accounts" style="display: block; box-sizing: border-box; height: 276px; width: 533px;"></canvas>
            </div>

            <div class="col-sm-0 col-md-0 col-lg-1" style="margin-top: 3rem;"></div>

            <div class="col-sm- col-lg-3" style="margin-top: 1rem;">
                <h4>Hobbie com mais eventos</h4>
                <hr style="height: 2px;">
                <p>Número de eventos por hobbie</p>
                <canvas id="bar-chart-hobbie" style="display: block; box-sizing: border-box; height: 276px; width: 533px;"></canvas>
            </div>
        </div>
        <div class="row" style="margin-bottom:5rem"></div>
    </div>
</body>


@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
        //Contagem DE IDADES
        var de18a25 = 0;
        var de26a35 = 0;
        var de36a50 = 0;
        var Maisde51 = 0;
        @foreach(var user in @users){
            if(user.isActive){
                if(user.Age >= 18 && user.Age <= 25){
                    @:de18a25++;
                }else if(user.Age >= 26 && user.Age <= 35){
                    @:de26a35++;
                }else if(user.Age >= 36 && user.Age <= 50){
                    @:de36a50++;
                }else if(user.Age >= 51){
                    @:Maisde51++;
                }
            }
        }

        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: ["18-25", "26-35", "36-50", "mais de 51"],
                datasets: [
                {
                    label: "Utilizadores",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                    //Fazer count das idades
                    data: [de18a25,de26a35,de36a50,Maisde51]
                }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                display: true,
                text: '',
                animation:false,
                }
            }
        });

        //Numero de eventos por hobbie
        var Futebol = 0;
        var VideoJogos = 0;
        var Basket = 0;
        var Jogging = 0;
        var OutroEvento = 0;
        @foreach (var evento in @eventos)
        {
            if(evento.isActive){
                if(evento.Sport.Equals("Futebol")){
                @:Futebol++;
                }else if(evento.Sport.Equals("Video Jogos")){
                    @:VideoJogos++;
                }else if(evento.Sport.Equals("Basket")){
                    @:Basket++;
                }else if(evento.Sport.Equals("Jogging")){
                    @:Jogging++;
                }else if(evento.Sport.Equals("Outro")){
                    @:OutroEvento++;
                }
            }
        }
        new Chart(document.getElementById("bar-chart-hobbie"), {
            type: 'bar',
            data: {
                labels: ["Futebol", "Video-Jogos", "Basket", "Jogging", "Outro"],
                datasets: [
                {
                    label: "Eventos",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#dddddd"],
                    data: [Futebol,VideoJogos,Basket,Jogging,OutroEvento]
                }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                display: true,
                text: '',
                animation:false,
                }
            }
        });

        //ATIVAS VS. DESATIVAS
        var userActive = 0;
        var userNotActive = 0;
        @foreach(var user in @users){
            if(user.isActive){
                @:userActive++;
            }else{
                @:userNotActive++;
            }
        }
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
                labels: ["Ativas", "Desativadas"],
                datasets: [{
                label: "Contas",
                backgroundColor: ["#3e95cd", "#8e5ea2"],
                //Count contas ativas e desativadas
                data: [userActive,userNotActive]
                }]
            },
            options: {
                title: {
                display: true,
                text: ''
                }
            }
        });

        //Count estrelas da aplicacao
        var rate1 = 0;
        var rate2 = 0;
        var rate3 = 0;
        var rate4 = 0;
        var rate5 = 0;
        @foreach(var avl in avaliacoes){
            if(avl.Rate == 1){
                @:rate1++;
            }else if(avl.Rate == 2){
                @:rate2++;
            }else if(avl.Rate == 3){
                @:rate3++;
            }else if(avl.Rate == 4){
                @:rate4++;
            }else if(avl.Rate == 5){
                @:rate5++;
            }
        }
        new Chart(document.getElementById("bar-chart-horizontal-star"), {
            type: 'horizontalBar',
            data: {
                labels: ["5", "4", "3", "2", "1"],
                datasets: [
                {
                    label: "Avaliação",
                    backgroundColor: ["#ffc107", "#ffc107", "#ffc107", "#ffc107", "#ffc107"],
                    //dados
                    data: [rate5, rate4, rate3, rate2, rate1]
                }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                display: true,
                text: ''
                }
            }
        });

        //Criação de datas
        /*
            Contas Criadas em 2022
        */
        var contasJan2022 = @users.Where(u => u.CreatedAccountDate.Month == 1 && u.CreatedAccountDate.Year == 2022).Count();
        var contasFev2022 = @users.Where(u => u.CreatedAccountDate.Month == 2 && u.CreatedAccountDate.Year == 2022).Count();
        var contasMar2022 = @users.Where(u => u.CreatedAccountDate.Month == 3 && u.CreatedAccountDate.Year == 2022).Count();
        var contasAbr2022 = @users.Where(u => u.CreatedAccountDate.Month == 4 && u.CreatedAccountDate.Year == 2022).Count();
        var contasMai2022 = @users.Where(u => u.CreatedAccountDate.Month == 5 && u.CreatedAccountDate.Year == 2022).Count();
        var contasJun2022 = @users.Where(u => u.CreatedAccountDate.Month == 6 && u.CreatedAccountDate.Year == 2022).Count();
        var contasJul2022 = @users.Where(u => u.CreatedAccountDate.Month == 7 && u.CreatedAccountDate.Year == 2022).Count();
        var contasAgo2022 = @users.Where(u => u.CreatedAccountDate.Month == 8 && u.CreatedAccountDate.Year == 2022).Count();
        var contasSet2022 = @users.Where(u => u.CreatedAccountDate.Month == 9 && u.CreatedAccountDate.Year == 2022).Count();
        var contasOut2022 = @users.Where(u => u.CreatedAccountDate.Month == 10 && u.CreatedAccountDate.Year == 2022).Count();
        var contasNov2022 = @users.Where(u => u.CreatedAccountDate.Month == 11 && u.CreatedAccountDate.Year == 2022).Count();
        var contasDez2022 = @users.Where(u => u.CreatedAccountDate.Month == 12 && u.CreatedAccountDate.Year == 2022).Count();

        new Chart(document.getElementById("bar-chart-accounts"), {
            type: 'bar',
            data: {
            //mostrar datas de criação das contas
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago","Set","Out","Nov","Dez"],
            datasets: [{
                //count das contas registadas
                data: [contasJan2022, contasFev2022, contasMar2022, contasAbr2022, contasMai2022 ,contasJun2022,
                contasJul2022,contasAgo2022,contasSet2022,contasOut2022,contasNov2022,contasDez2022],
                label: "nº de Contas",
                backgroundColor: "#8e5ea2"
                }
            ]
            },
            options: {
            title: {
                display: true,
                text: ''
            }
            }
        });

    //PAISES
    var Portugal = 0;
    var Alemanha = 0;
    var Espanha = 0;
    var França = 0;
    var Outro = 0;
    @foreach (var user in @users)
    {
                if(user.isActive){
                    if(user.Country.Equals("Portugal")){
                        @:Portugal++;
                    }else if(user.Country.Equals("Alemanha")){
                        @:Alemanha++;
                    }else if(user.Country.Equals("Espanha")){
                        @:Espanha++;
                    }else if(user.Country.Equals("França")){
                        @:França++;
                    }else if(user.Country.Equals("Outro")){
                        @:Outro++;
                    }
                }
    }
    new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
          labels: ["Portugal", "Espanha", "França", "Alemanha", "Outro"],
          datasets: [
            {
              label: "Population (millions)",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: [Portugal,Espanha,França,Alemanha,Outro]
            }
          ]
    },
    options: {
          title: {
            display: true,
            text: ''
          }
    }
    });

    //COMPARACAO DE EVENTOS COM ANO ANTERIOR
    /*
        Eventos Criados em 2021
    */
    var eventosJan2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 1 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosFev2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 2 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosMar2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 3 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosAbr2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 4 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosMai2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 5 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosJun2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 6 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosJul2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 7 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosAgo2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 8 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosSet2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 9 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosOut2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 10 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosNov2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 11 && e.CreatedEventoDate.Year == 2021).Count();
    var eventosDez2021 = @eventos.Where(e => e.CreatedEventoDate.Month == 12 && e.CreatedEventoDate.Year == 2021).Count();

    /*
        Eventos Criados em 2022
    */
    var eventosJan2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 1 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosFev2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 2 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosMar2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 3 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosAbr2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 4 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosMai2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 5 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosJun2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 6 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosJul2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 7 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosAgo2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 8 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosSet2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 9 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosOut2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 10 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosNov2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 11 && e.CreatedEventoDate.Year == 2022).Count();
    var eventosDez2022 = @eventos.Where(e => e.CreatedEventoDate.Month == 12 && e.CreatedEventoDate.Year == 2022).Count();

    new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {
          labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago","Set","Out","Nov","Dez"],
          datasets: [
            {
              label: "2021",
              backgroundColor: "#3e95cd",
              data: [eventosJan2021,eventosFev2021,eventosMar2021,eventosAbr2021,eventosMai2021,eventosJun2021,
                  eventosJul2021,eventosAgo2021,eventosSet2021,eventosOut2021,eventosNov2021, eventosDez2021]
            }, {
              label: "2022",
              backgroundColor: "#8e5ea2",
              data: [eventosJan2022,eventosFev2022,eventosMar2022,eventosAbr2022,eventosMai2022,eventosJun2022,
                  eventosJul2022,eventosAgo2022,eventosSet2022,eventosOut2022,eventosNov2022, eventosDez2022]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Eventos Criados face ao Ano Anterior'
          }
        }
    });
</script>
}


</html>

