﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AvaliarApp>
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Avaliações";
    var flag = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .rightt {
        float: right;
        margin-right: -7px;
        color: white;
        padding: 5px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f5f5f5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #084d6e;
        }

    .container .star-widget input {
        display: none;
    }

    .star-widget label {
        color: #444;
        float: right;
        transition: all 0.2s ease;
        place-items: center;
    }

    .container .star-widgett input {
        display: none;
    }

    .star-widgett label {
        color: #444;
        float: right;
        transition: all 0.2s ease;
        place-items: center;
    }

    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label {
        color: #fd4;
    }

    input:checked ~ label {
        color: #fd4;
    }

    input#ratee-5:checked ~ label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
    }

    input#rate-5:checked ~ label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
    }

    input:checked ~ form {
        display: block;
    }

    .noHover {
        pointer-events: none !important;
    }

    .rounded-circle {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }

</style>
<body>
    @if (TempData["ErroAvaliar"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel avaliar a app
        </div>
    }
    @if (TempData["SuccessoAvaliar"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Avaliação feita com sucesso
        </div>
    }
    @if (TempData["ErroAvaliacaoApagada"] != null)
    {
        <div class="alert alert-danger">
            <strong>Erro!</strong> Não foi possivel apagar a avaliação
        </div>
    }
    @if (TempData["SuccessoAvaliacaoApagada"] != null)
    {
        <div class="alert alert-success">
            <strong>Successo!</strong> Avaliação apagada com sucesso
        </div>
    }
    <div class="container">

        <div class="main-body">
            <span class="hovertext" data-hover="Avalie a aplicação, selecionando as estrelas que acha que a aplicação merece, e escreva um pequeno comentário. Depois poderá ver a sua avaliação, como também as avaliações de outros utilizadores.">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Avaliar Aplicação</h1>
            </div>
            <hr style="height:2px;">
            <br>
            <div class="row gutters-sm" style="padding-bottom:75px;">
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body" style="overflow: auto; height: 638px;">
                            @*                            <div class="d-flex flex-row-reverse">
                                <a class="btn btn-info botao right" style="color:white;" href='javascript:history.go(-1)'>Voltar</a>
                                </div>*@
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                @foreach (var avaliacao in Model)
                                {
                                    @if (avaliacao.UserId == @UserManager.GetUserAsync(User).Result.Id)
                                    {
                                        @* Fazer foreach aqui*@
                                        <div class="col-md-4 mb-3;">
                                            <div class="card" style="background-color:white; border-radius: 8px; height:125px; overflow: auto; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); border: 2px solid #084d6e">
                                                <div class="card-body cartao" style="border-radius: 20px">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <img src="~/uploads/@avaliacao.User.ImagePath" onerror="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="50">
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="star-widgett noHover" style="padding-top:1rem; font-size: 14px; padding: 3px; " disable>
                                                                <input @if(@avaliacao.Rate == 5){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="5">
                                                                <label for="ratee-5" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 4){
                                                               @:checked
                                                               }type="checkbox" name="rate" value="4">
                                                                <label for="ratee-4" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 3){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="3">
                                                                <label for="ratee-3" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 2){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="2">
                                                                <label for="ratee-2" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 1){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="1">
                                                                <label for="ratee-1" class="fas fa-star"></label>
                                                            </div>
                                                            <div class="row mt-4">
                                                                <div class="col-md-5">
                                                                    <h6 class="mb-0">@avaliacao.User.Name</h6>
                                                                </div>
                                                            </div>
                                                            <div style="padding:3px"></div>
                                                            <div class="col-sm text-secondary">
                                                                @avaliacao.Comentario
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (@avaliacao.UserId == @UserManager.GetUserAsync(User).Result.Id)
                                                    {
                                                        <a id="delete" asp-action="DeleteAvaliacao" asp-route-id="@avaliacao.Id" class="btn btn-danger rightt" style="color:white; font-size: 11px">Apagar</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @* ate aqui*@
                                }
                                @foreach (var avaliacao in Model)
                                {
                                    @if (avaliacao.UserId != @UserManager.GetUserAsync(User).Result.Id)
                                    {
                                        @* Fazer foreach aqui*@
                                        <div class="col-md-4 mb-3;">
                                            <div class="card" style="background-color:white; border-radius: 8px; height:125px; overflow: auto; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); border: 2px solid #084d6e">
                                                <div class="card-body cartao" style="border-radius: 20px">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <img src="~/uploads/@avaliacao.User.ImagePath" onerror="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="50">
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="star-widgett noHover" style="padding-top:1rem; font-size: 14px; padding: 3px; " disable>
                                                                <input @if(@avaliacao.Rate == 5){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="5">
                                                                <label for="ratee-5" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 4){
                                                               @:checked
                                                               }type="checkbox" name="rate" value="4">
                                                                <label for="ratee-4" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 3){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="3">
                                                                <label for="ratee-3" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 2){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="2">
                                                                <label for="ratee-2" class="fas fa-star"></label>
                                                                <input @if(@avaliacao.Rate == 1){
                                                               @:checked
                                                               } type="checkbox" name="rate" value="1">
                                                                <label for="ratee-1" class="fas fa-star"></label>
                                                            </div>
                                                            <div class="row mt-4">
                                                                <div class="col-md-5">
                                                                    <h6 class="mb-0">@avaliacao.User.Name</h6>
                                                                </div>
                                                            </div>
                                                            <div style="padding:3px"></div>
                                                            <div class="col-sm text-secondary">
                                                                @avaliacao.Comentario
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @* ate aqui*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var avaliacoes in Model)
                {
                    if (avaliacoes.UserId == @UserManager.GetUserAsync(User).Result.Id)
                    {
                        flag = true;
                    }
                }

                @if (!flag)
                {
                    <div class="col-md-3 mb-3">
                        <form method="post">
                            <div class="card">
                                <div class="star-widget" style="padding-top:1rem; font-size: 22px; padding: 5px;">
                                    <input type="radio" name="rate" id="rate-5" value="5">
                                    <label for="rate-5" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-4" value="4">
                                    <label for="rate-4" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-3" value="3">
                                    <label for="rate-3" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-2" value="2">
                                    <label for="rate-2" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-1" value="1">
                                    <label for="rate-1" class="fas fa-star"></label>
                                </div>
                                <div class="card-body">
                                    <input name="id" value="@UserManager.GetUserAsync(User).Result.Id" hidden />
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <textarea class="form-control" name="comment" style="height:100px; resize: none;" placeholder="Comentário..."></textarea>
                                    </div>
                                    <br>
                                    <button class="btn btn-info botao right" asp-action="avaliarApp" type="submit" style="color:white;">Avaliar</button>
                                </div>
                            </div>
                        </form>
                        @* <div class="card mt-3" style="overflow: auto; height: 322px;">
                            <div class="card-body">
                            <h6 class="mb-0">Utilizadores</h6>
                            <br>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap seguidores">
                            <h6 class="mb-0"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="45"></h6>
                            <span class="text-secondary">Gonçalo Pinheiro</span>
                            </li>
                            </ul>
                            </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>