﻿@{
    ViewData["Title"] = "Ver Histórico";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
</head>
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }
    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .cartao {
        background-color: #e2e8f0;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        background-color: #084d6e;
        color: white;
    }

    .breadcrumb {
        font-size: 25px;
        text-align: center;
    }
</style>
<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-3 mb-3" style="line-height: 27px">
                    <br><br>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>Nome Utilizador</h4>
                                    <p class="text-secondary mb-1"><img src="~/imagens/map.png" width="15" /> País</p>
                                    <p class="text-muted font-size-sm">Pequena Descrição</p>
                                    <br> <br> <br>
                                    <h4>Conquistas</h4>
                                    <img src="~/imagens/football.png" alt="Admin" class="rounded-circle" width="30">&nbsp;&nbsp;
                                    <img src="~/imagens/football.png" alt="Admin" class="rounded-circle" width="30">&nbsp;&nbsp;
                                    <img src="~/imagens/football.png" alt="Admin" class="rounded-circle" width="30">&nbsp;&nbsp;
                                    <img src="~/imagens/football.png" alt="Admin" class="rounded-circle" width="30">
                                    <p class="text-muted font-size-sm"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Page2" class="col-md-9">
                    <nav aria-label="breadcrumb" class="main-breadcrumb" style="background-color: #e2e8f0">
                        <ol class="breadcrumb" style="background-color: #e2e8f0;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <li class="breadcrumb-item">
                                <a href="#" style="color:#808080">Dados Perfil</a>&nbsp;&nbsp;&nbsp;
                                @*<a href="#" style="color:#808080" onclick="return show('Page1','Page2');">Eventos Anteriores</a>&nbsp;&nbsp;&nbsp;*@
                                <a style="color:#808080" asp-area="" asp-controller="Evento" asp-action="HistConqEvento">Eventos Anteriores</a>&nbsp;&nbsp;&nbsp;
                                <a href="#" style="color:black">Conquistas</a>&nbsp;&nbsp;&nbsp;
                                <a href="#" style="color:#808080">Agenda</a>
                            </li>
                        </ol>
                    </nav>
                    <div class="card mb-3">
                        <div class="card-body" style="overflow: auto; height: 585px;">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-md-4 mb-3">
                                    <div class="card" style="background-color:#cadbe3;">
                                        <img src="~/imagens/futebol.jpg" class="card-img-top" alt="..." style="height:100px">
                                        <div class="card-body cartao">
                                            <h5 class="card-title">Futebol</h5>
                                            <p>Detalhes</p>
                                            <a class="btn btn-info rightt" style="color:white">Detalhes Evento</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
            <br>  <br>  <br>  <br>  <br>


        </div>
    </div>
</body>

@section Scripts
{
<script src="@Url.Content("https://code.jquery.com/jquery-3.5.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js")"></script>

<script>
    function show(shown, hidden) {
      document.getElementById(shown).style.display='block';
      document.getElementById(hidden).style.display='none';
      return false;
    }

</script>
}

</html>



