﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using WebApplication1.Data

@model WebApplication1.Areas.Identity.Data.User
@inject UserManager<User> UserManager
@inject WebApplication1Context _context
@{
    ViewData["Title"] = "Perfil do Utilizador - " + @Model.Name;
    ViewData["Following"] = _context.Followers.Where(u => @Model.Id == u.UserIdThatFollows).ToList().Count();
    var usereventos = _context.UserEventos.ToList();
    var eventos = _context.eventos.ToList();
    var conquistas = _context.ConquistasUser.Where(c => c.UserId.Equals(@Model.Id)).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<style>

    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        color: white;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f5f5f5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #084d6e;
        }

    .timeline-btn {
        position: absolute;
        bottom: 0;
        right: 30px;
    }

    .nav-tabs.md-tabs.tab-timeline li a {
        padding: 20px 0 10px;
        color: #666666;
        font-size: 18px;
    }

    .tab-timeline .slide {
        bottom: -1px;
    }

    .timeline-icon {
        height: 45px;
        width: 45px;
        display: block;
        margin: 0 auto;
        border: 4px #fff solid;
    }

    .social-client-description span {
        font-size: 12px;
        margin-left: 10px;
    }

    .card .card-block {
        padding: 25px;
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .md-tabs .nav-item {
        width: calc(100%/ 3);
        text-align: center;
    }

        .md-tabs .nav-item .nav-link.active ~ .slide {
            opacity: 1;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .md-tabs .nav-item .nav-link ~ .slide {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

    .tab-timeline .slide {
        bottom: -1px;
    }

    .nav-tabs .slide {
        background: #084d6e;
        width: calc(100%/ 3);
        height: 4px;
        position: absolute;
        -webkit-transition: left 0.3s ease-out;
        transition: left 0.3s ease-out;
        bottom: 0;
    }

    .seguir {
        background-color: #084d6e;
        color: white;
    }

    .bg-light-primary {
        background-color: #f9fbff !important;
    }

    .pb-6, .py-6 {
        padding-bottom: 3.75rem !important;
    }

    .pt-6, .py-6 {
        padding-top: 3.75rem !important;
    }

    .hover-scale, .hover-scale:hover {
        transition: transform .2s ease-in;
    }

    .cardd {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .4rem;
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card-bodyy {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    .navhover:hover {
        background-color: #fff !important;
    }

    .rounded-circle {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }
</style>
<body>
    <div class="container">
        <div class="main-body">
            <span class="hovertext" data-hover="Aqui pode verificar o perfil do utilizador que selecionou. Pode consultar alguns dos seus dados, como também os eventos onde este utilizador se encontra, como também algumas das suas conquistas na aplicação. Se pretender seguir o utilizador, pode clicar em 'Seguir'.">
                <img src="~/imagens/help-web-button.png" width="35" />
            </span>
            <div class="text-center">
                <h1 class="display-4">Perfil do Utilizador</h1>
            </div>
            <hr style="height:2px;">
            <div class="row gutters-sm" style="padding-bottom:75px;">
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/uploads/@Model.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" width="125">
                                <div class="mt-3">
                                    <h4>@Model.Name</h4>
                                    <p class="text-secondary mb-1">
                                        <img src="~/imagens/map.png" width="15" />@Model.Country
                                    </p>
                                    <p class="text-secondary mb-1">@Model.Age anos</p>
                                    <p class="text-secondary mb-1">Seguidores: @Model.Followers.Count() &nbsp; &nbsp; &nbsp; &nbsp; A seguir: @ViewData["Following"]</p>
                                    <br>
                                    @if (!@Model.Followers.Contains(UserManager.GetUserAsync(User).Result))
                                    {
                                        <form method="post">
                                            <input name="id" hidden value="@Model.Id" />
                                            <input name="curUserId" hidden value="@UserManager.GetUserAsync(User).Result.Id"/>
                                            <button type="submit" class="btn btn-info seguir" asp-controller="Utilizador" asp-action="FollowUser">Seguir</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post">
                                            <input name="id" hidden value="@Model.Id" />
                                            <input name="curUserId" hidden value="@UserManager.GetUserAsync(User).Result.Id"/>
                                            <button type="submit" class="btn btn-danger meio" asp-controller="Utilizador" asp-action="UnfollowUser">Deixar de Seguir</button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3" style="overflow: auto; height: 280px;">
                        <div class="card-body">
                            <h6 class="mb-0">Seguidores</h6>
                            <br>
                            <ul class="list-group list-group-flush">
                                @foreach (var user in @Model.Followers)
                                {
                                    <li class="list-group-item d-flex align-items-center flex-wrap seguidores">
                                        <h6 class="mb-0"><img src="/uploads/@user.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Admin" class="rounded-circle" style="width:50px; height:50px; object-fit:cover;"></h6>
                                        &nbsp;&nbsp;<span class="text-secondary">@user.Name</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-xl-12 col-lg-8 col-md-8 col-xs-12 ">
                        <div class="card social-tabs">
                            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                <li class="nav-item navhover">
                                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Dados</a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item navhover">
                                    <a class="nav-link" data-toggle="tab" href="#about" role="tab">Eventos</a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item navhover">
                                    <a class="nav-link" data-toggle="tab" href="#photos" role="tab">Conquistas</a>
                                    <div class="slide"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="timeline">
                                <div class="col-md-14">
                                    <div class="card mb-3" style="margin-top:-14px;">
                                        <div class="card-body" style="overflow: auto; height: 557px; margin-top:60px;">
                                            @if (!@Model.isPrivate || @Model.Followers.Contains(UserManager.GetUserAsync(User).Result))
                                            {
                                                <hr>
                                                <div class="row" style="text-align:center;">
                                                    <div class="col-sm-5" style="text-align:right;">
                                                        <h6 class="mb-0">Nome</h6>
                                                    </div>
                                                    <div class="col"></div>
                                                    <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                        @Model.Name
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row" style="text-align:center;">
                                                    <div class="col-sm-5" style="text-align:right;">
                                                        <h6 class="mb-0">Data de Nascimento</h6>
                                                    </div>
                                                    <div class="col"></div>
                                                    <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                        @Model.BirthDate.ToLongDateString()
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row" style="text-align:center;">
                                                    <div class="col-sm-5" style="text-align:right;">
                                                        <h6 class="mb-0">Idade</h6>
                                                    </div>
                                                    <div class="col"></div>
                                                    <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                        @Model.Age anos
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row" style="text-align:center;">
                                                    <div class="col-sm-5" style="text-align:right;">
                                                        <h6 class="mb-0">Morada</h6>
                                                    </div>
                                                    <div class="col"></div>
                                                    <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                        @Model.Address
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row" style="text-align:center;">
                                                    <div class="col-sm-5" style="text-align:right;">
                                                        <h6 class="mb-0">Hobbies</h6>
                                                    </div>
                                                    <div class="col"></div>
                                                    <div class="col-sm-6 text-secondary cortexto" style="text-align:left">
                                                        @Model.Hobbies
                                                    </div>
                                                </div>
                                                <hr>
                                            }
                                            else
                                            {
                                                @*<p>O perfil deste utilizador é privado, para ver mais sobre ele, tem de o seguir</p>
                                                    <i class="fa fa-lock" aria-hidden="true" style="font-size: 12rem; display:center"></i>
                                                    FAZER PERFIL PRIVADO*@
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-2 text-center">
                                                    <div id="lock-cirle">
                                                        <i class="fa fa-lock" id="lock-icon" style="font-size: 12rem"></i>
                                                        <h2>Esta conta é privada.</h2>
                                                        <p>Segue este utilizador para veres os seus dados.</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="about">
                                <div class="card mb-3">
                                    <div class="card-body" style="overflow: auto; height: 603px;">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            @if (!@Model.isPrivate || @Model.Followers.Contains(UserManager.GetUserAsync(User).Result))
                                            {
                                                @foreach (var evento in eventos)
                                                {
                                                    @foreach (var userevento in usereventos)
                                                    {
                                                        @if (evento.Id == userevento.EventoId && userevento.UserId.Equals(@Model.Id))
                                                        {
                                                            <div class="col-md-4 mb-3">
                                                                <div class="card" style="background-color:#cadbe3; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
                                                                    <img src="/uploads/@evento.ImagePath" onerror="this.src='https://www.bootdey.com/app/webroot/img/content-04.png'" class="card-img-top" alt="..." style="height:100px; border: 2px solid #084d6e; ">
                                                                    <div class="card-body cartao" style="border: 2px solid #084d6e; ">
                                                                        <h5 class="card-title">@evento.Name</h5>
                                                                        <p>Detalhes</p>
                                                                        <a class="btn btn-info botao" asp-controller="Evento" asp-action="DetalheEvento" asp-route-id="@evento.Id" style="font-size: 11px">Detalhes Evento</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="photos">      
                                    <div class="card mb-3">
                                        <div class="card-body" style="overflow: auto; height: 603px;">
                                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                                @* Aqui *@
                                                @foreach (var conq in @conquistas)
                                                {
                                                    <div class="col-md-3 mb-3">
                                                        <div class="card" style="background-color:white; border: 2px solid #084d6e; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
                                                            <img src="@_context.Conquistas.First(c=>c.Id==conq.ConquistId).Badge" />
                                                            <p style="text-align:center;">@_context.Conquistas.First(c => c.Id == conq.ConquistId).Description</p>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>