﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@model WebApplication1.Areas.Identity.Data.User
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "User Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - WebApplication1</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<style>

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #a1d3ed;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .cartao {
        margin-left: -215px;
    }

    .outrocartao {
        margin-right: -225px
    }

    .seguidores {
        background-color: #a1d3ed;
        color: black;
    }

    .botao {
        background-color: #084d6e;
        color: white;
    }

    .right {
        float: right;
        margin-right: 5px;
    }

    .cortexto {
        color: #615f5f;
    }
</style>
<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3 cartao">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/uploads/@Model.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Foto Perfil" class="rounded-circle" width="150" height="150">
                                <div class="mt-3">
                                    <h4>@Model.Name</h4>
                                    <p class="text-secondary mb-1"><img src="~/imagens/map.png" width="15" /> @Model.Country</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="card mb-3">
                        <div class="card-body">
                            @if (@Model.isPrivate)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Perfil Privado</h6>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Nome</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.Name
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Data de Nascimento</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.BirthDate.ToLongDateString()
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Idade</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.Age anos
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Morada</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.Address
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Telemóvel</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.PhoneNumber
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.Email
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Hobbies</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary cortexto">
                                        @Model.Hobbies
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-info botao right" asp-area="" asp-page="">Seguir Utilizador</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 outrocartao">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-0">Seguidores</h6>
                            <br>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap seguidores">
                                    <h6 class="mb-0"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="45"></h6>
                                    <span class="text-secondary">Gonçalo Pinheiro</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>
