﻿@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@using System.Web.Mvc.Ajax

@inject UserManager<User> UserManager
@model IEnumerable<User>

@{
    ViewData["Title"] = "Ver Utilizadores";
    ViewData["curUser"] = UserManager.GetUserIdAsync(UserManager.GetUserAsync(User).Result).Result;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .container {
        max-width: 95%;
    }

    .cartao {
        background-color: #e2e8f0;
    }

    .rightt {
        float: right;
        margin-right: 5px;
        background-color: #084d6e;
        color: white;
    }

    .breadcrumb {
        font-size: 25px;
        text-align: center;
    }

    .meio {
        margin: auto;
        background-color: #084d6e;
        color: white;
    }

    .rounded-circle {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .hovertext {
        position: relative;
    }

        .hovertext:before {
            content: attr(data-hover);
            visibility: hidden;
            opacity: 0;
            width: 350px;
            background-color: #cfcfcf;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 110%;
        }

        .hovertext:hover:before {
            opacity: 1;
            visibility: visible;
        }

</style>

<body>
    <div class="container">
        <span class="hovertext" data-hover="Encontra-se na página de visualizar todos os utilizadores da aplicação. Nesta página pode descobrir novas pessoas que pretenda seguir. Depois de clciar em 'Ver Perfil', é lhe mostrado do lado direito algumas informações sobre o utilizador que selecionou. Caso não encontre o utilizador que pretende, pode usar a caixa de pesquisa, introduzindo o nome do utilizador que pretende. Ao ver o perfil do lado direito, pode clicar em 'Ver Mais', e é redirecionado para uma página, com mais informação sobre o utilizador, onde tem a opção de o seguir.">
            <img src="~/imagens/help-web-button.png" width="35" />
        </span>
        <div class="text-center">
            <h1 class="display-4">Utilizadores</h1>
        </div>
        <hr style="height:2px;">
        <div class="main-body">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-2">
                    <div class="input-group">
                        <div class="form-outline">
                            <form id="search" method="get" style="display:flex; flex-direction:row">
                                <input type="text" name="searchString" class="form-control" placeholder="Procurar..." />
                                <button class="btn btn-info rightt" style="color:white" type="submit" asp-action="searchUsers" asp-controller="Utilizador"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <br>
            <div class="row gutters-sm">
                <div class="card mb-3 col-md-9">
                    <div class="card-body" style="overflow: auto; height: 570px;">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            @foreach (var user in Model)
                            {
                                @if (!@user.isAdmin)
                                {
                                    @if (@user.isActive)
                                    {
                                        @if (!@user.Id.Equals(ViewData["curUser"]))
                                        {
                                            <div class="col-md-4 mb-3;">
                                            <div class="card" style="background-color:#cadbe3; border-radius: 20px; height:130px; overflow: auto;">
                                                <div class="card-body cartao" style="border-radius: 20px">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <img src="/uploads/@user.ImagePath" onerror="this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Foto Perfil" class="rounded-circle" width="50">
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="row mt-3">
                                                                <div class="col-md-12">
                                                                    <h6 class="mb-0">@user.Name</h6>
                                                                </div>
                                                            </div>
                                                             <div class="row mt-3">
                                                                <div class="col-md-3" style="margin-left:12px; padding:0">
                                                                    <h6 class="mb-0" style="color:#124E82">Hoobie:</h6>
                                                                </div>
                                                                <div class="col-sm text-secondary" style="padding:0">
                                                                    @user.Hobbies
                                                                </div>
                                                            </div>
                                                            <div class="row mt-2">
                                                                <div class="col-md-3">
                                                                    <h6 class="mb-0" style="color:#124E82">Perfil: </h6>
                                                                </div>
                                                                @if (@user.isPrivate)
                                                                {
                                                                    <div class="col-sm text-secondary">
                                                                        Privado
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="col-sm text-secondary">
                                                                        Público
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-info right" style="color:white; margin-right: 0px; top:-2.5rem; position:relative" id="VerPerfil" onclick="onChangeCardInfo('@user.Id')">
                                                        Ver Perfil
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                @*Quando se carregasse "Ver Perfil" nos cards da esquerda, mostrar os detalhes desse perfil neste card maior da direita*@
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center" id="userPartialView">
                                <div class="mt-3" id="userCard">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>  <br>  <br>  <br>  <br>
        </div>
        <script>
            function onChangeCardInfo(userId){
                    const div = document.getElementById('userCard');
                    $.ajax(
                    {
                         url: `/Utilizador/UserProfileDetails`,
                         data: {
                            userSearch: userId
                         },
                         type: 'GET',
                         success: function (data) {
                            div.innerHTML = data;
                         },
                         error: function () {
                             alert("Erro getting User from backend");
                         }
                    });
            }
        </script>
</body>
</html>